@charset "UTF-8";
.abc1:before {
  content: "icon_a_322122_8x13.png";
}

.abc2:before {
  content: "icon_b_322122_8x13.png";
}

.abc3:before {
  content: "icon_c_322122_8x13.png";
}

.abc4:before {
  content: "icon_d_322122_8x13.png";
}

.abc5:before {
  content: "icon_f_322122_8x13.png";
}

input.parsley-error,
textarea.parsley-error {
  outline: 0 none;
  border: 1px solid #ff8a8a;
}

.employment-certificate__tr ._error,
.corporate-license__tr ._error,
.id__tr ._error,
.agency-name__tr ._error,
.advertiser__tbody .name__tr ._error,
.advertiser-info__table .name__tr ._error,
.sub-agency__tbody .name__tr ._error {
  color: #ff8a8a;
  padding-left: 10px;
  display: none;
}
.employment-certificate__tr ._error:before,
.corporate-license__tr ._error:before,
.id__tr ._error:before,
.agency-name__tr ._error:before,
.advertiser__tbody .name__tr ._error:before,
.advertiser-info__table .name__tr ._error:before,
.sub-agency__tbody .name__tr ._error:before {
  content: '\2022';
  font-size: 12px;
}
.employment-certificate__tr ._success,
.corporate-license__tr ._success,
.id__tr ._success,
.agency-name__tr ._success,
.advertiser__tbody .name__tr ._success,
.advertiser-info__table .name__tr ._success,
.sub-agency__tbody .name__tr ._success {
  color: #39cf6c;
  display: none;
  padding-left: 10px;
}
.employment-certificate__tr ._success:before,
.corporate-license__tr ._success:before,
.id__tr ._success:before,
.agency-name__tr ._success:before,
.advertiser__tbody .name__tr ._success:before,
.advertiser-info__table .name__tr ._success:before,
.sub-agency__tbody .name__tr ._success:before {
  content: '\2022';
  font-size: 12px;
}

.employment-certificate__tr .parsley-error + ._error,
.corporate-license__tr .parsley-error + ._error {
  display: inline-block;
}
.employment-certificate__tr .parsley-success + ._error + ._success,
.corporate-license__tr .parsley-success + ._error + ._success {
  display: inline-block;
}

.agency-name__tr .parsley-error + button + ._error,
.id__tr .parsley-error + button + ._error,
.name__tr .parsley-error + button + ._error {
  display: inline-block;
}
.agency-name__tr .parsley-error + button + ._error + ._success,
.id__tr .parsley-error + button + ._error + ._success,
.name__tr .parsley-error + button + ._error + ._success {
  display: none;
}
.agency-name__tr .parsley-success + button + ._error,
.id__tr .parsley-success + button + ._error,
.name__tr .parsley-success + button + ._error {
  display: none;
}
.agency-name__tr .parsley-success + button + ._error + ._success,
.id__tr .parsley-success + button + ._error + ._success,
.name__tr .parsley-success + button + ._error + ._success {
  display: inline-block;
}

.tooltip-inner {
  text-align: left;
  background: #ff8a8a;
  padding: 6px 16px;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #ff8a8a;
}

.tooltip.top-left {
  margin-top: -1px;
}

.tooltip.top-left .tooltip-arrow {
  border-top-color: #ff8a8a;
  margin-bottom: -5px;
}

.tooltip.top-right .tooltip-arrow {
  border-top-color: #ff8a8a;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #ff8a8a;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #ff8a8a;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #ff8a8a;
}

.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #ff8a8a;
}

.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #ff8a8a;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  outline: 0 none;
}

._ellipsis + .tooltip {
  width: 200px;
  opacity: 1;
}
._ellipsis + .tooltip .tooltip-inner {
  background: #ababab;
  padding: 10px 15px;
  word-break: break-all;
  line-height: 17px;
  font-size: 12px;
  text-align: left;
}

._ellipsis + .tooltip.top-left .tooltip-arrow {
  border-top-color: #ababab;
  margin-bottom: -5px;
}

._ellipsis + .tooltip.left .tooltip-arrow {
  border-left-color: #ababab;
}

/*login * error message */
body {
  font-size: 12px;
}

body,
button,
input,
textarea {
  font-family: 'Roboto Condensed','Nanum Barun Gothic', '맑은 고딕', sans-serif;
  color: #303030;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

button:focus {
  outline: 0 none;
}

input[type='text'],
input[type='password'],
input[type='number'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  line-height: 23px;
  height: 25px;
  padding: 0 8px;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus {
  outline: 0 none;
  border: 1px solid #39cf6c;
}

body {
  background-color: #303030;
}
body .login,
body .error {
  padding-top: 135px;
  position: absolute;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url(../images/vingle/bg_login_ffffff_214x76.png) 50% 0 no-repeat;
}
body .error__content,
body .login-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 490px;
  background-color: #ffffff;
  border: 1px solid #cbcbcb;
  padding: 10px 10px 20px;
  z-index: 100;
}
body .error__header,
body .login__header {
  height: 45px;
}
body .error__header .title,
body .login__header .title {
  color: #ffffff;
  font-size: 17px;
  line-height: 45px;
}
body .error__header {
  background-color: #39cf6c;
}
body .error__header .title {
  padding: 0 15px;
}
body .login__header {
  background-color: #303030;
}
body .login__header .title {
  padding: 0 20px;
}
body .login__container {
  padding: 55px 45px;
  font-size: 15px;
}
body .login__container table {
  width: 100%;
}
body .login__container table caption {
  display: none;
}
body .login__container table th {
  text-align: left;
  width: 80px;
}
body .login__container table input[type="text"],
body .login__container table input[type="password"] {
  width: 100%;
}
body .login__container table .id__tr td {
  padding-bottom: 6px;
}
body .error__container {
  padding: 35px 40px 30px;
  font-size: 15px;
}
body .error__container p {
  margin-bottom: 20px;
}
body .error__container ul li {
  line-height: 22px;
  list-style: none;
}
body .error__container ul li:before {
  content: '\2022';
  color: #39cf6c;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
body .login__footer {
  position: relative;
}
body .login__footer .tooltip {
  position: absolute;
  top: -19px;
  left: 131px;
}
body .error__footer,
body .login__footer {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
  text-align: center;
}
body .error__footer [data-type='success'],
body .login__footer [data-type='success'] {
  border: 0 none;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #39cf6c;
  border-radius: 12.5px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  line-height: 25px;
  overflow: hidden;
  text-align: center;
  width: 100px;
}
body .error__footer .btn-return,
body .login__footer .btn-return {
  width: 200px;
}

/*# sourceMappingURL=login.css.map */
