/* 
 * Nanum Barun Gothic (Korean) http://hangeul.naver.com
 */
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 200;
  src: local('Nanum Barun Gothic UltraLight'), local('Nanum Barun Gothic-UltraLight'), local('NanumBarunGothic UltraLight');
  src: url(../div/fonts/NanumBarunGothicUltraLight.eot);
  src: url(../div/fonts/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
       url(../div/fonts/NanumBarunGothicUltraLight.woff2) format('woff2'),
       url(../div/fonts/NanumBarunGothicUltraLight.woff) format('woff'),
       url(../div/fonts/NanumBarunGothicUltraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: local('Nanum Barun Gothic Light'), local('Nanum Barun Gothic-Light'), local('NanumBarunGothic Light');
  src: url(../div/fonts/NanumBarunGothicLight.eot);
  src: url(../div/fonts/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(../div/fonts/NanumBarunGothicLight.woff2) format('woff2'),
       url(../div/fonts/NanumBarunGothicLight.woff) format('woff'),
       url(../div/fonts/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
  src: url(../div/fonts/NanumBarunGothic.eot);
  src: url(../div/fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(../div/fonts/NanumBarunGothic.woff2) format('woff2'),
       url(../div/fonts/NanumBarunGothic.woff) format('woff'),
       url(../div/fonts/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('Nanum Barun Gothic Bold'), local('Nanum Barun Gothic-Bold'), local('NanumBarunGothic Bold');
  src: url(../div/fonts/NanumBarunGothicBold.eot);
  src: url(../div/fonts/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(../div/fonts/NanumBarunGothicBold.woff2) format('woff2'),
       url(../div/fonts/NanumBarunGothicBold.woff) format('woff'),
       url(../div/fonts/NanumBarunGothicBold.ttf) format('truetype');
}

