.abc1:before {
  content: "icon_a_322122_8x13.png";
}

.abc2:before {
  content: "icon_b_322122_8x13.png";
}

.abc3:before {
  content: "icon_c_322122_8x13.png";
}

.abc4:before {
  content: "icon_d_322122_8x13.png";
}

.abc5:before {
  content: "icon_f_322122_8x13.png";
}

.popup-add-service,
.popup-service-remaining, .popup-approve-agency-account, .popup-set-commission, .popup-disapprove-creative,
.popup-disapprove-advertiser-account,
.popup-disapprove-agency-account, .popup-sub-agency-account-info, .popup-add-app,
.popup-change-password, .popup-approve-advertiser-account, .popup-view-approval-manager, .popup-add-approval-manager,
.popup-add-sub-agency,
.popup-add-advertiser, .popup-view-creative,
.popup-approve-creative {
  width: 602px;
}

.popup-view-agency, .popup-view-sub-agency, .popup-view-advertiser, .popup-view-creative-admin {
  width: 1010px;
}

.popup-create-new-audience,
.popup-add-new-audience,
.popup-edit-audience, .popup-add-new-creative, .popup-upload-new-creative {
  width: 800px;
}

.popup-view-agency .information .agency-status ._pending:before, .popup-view-sub-agency .information .sub-agency-status ._pending:before, .popup-view-advertiser .information .advertiser-status ._pending:before, .popup-view-creative-admin .information .creative-status ._pending:before,
.popup-view-agency .information .agency-status ._approved:before,
.popup-view-sub-agency .information .sub-agency-status ._approved:before,
.popup-view-advertiser .information .advertiser-status ._approved:before,
.popup-view-creative-admin .information .creative-status ._approved:before,
.popup-view-agency .information .agency-status ._disapproved:before,
.popup-view-sub-agency .information .sub-agency-status ._disapproved:before,
.popup-view-advertiser .information .advertiser-status ._disapproved:before,
.popup-view-creative-admin .information .creative-status ._disapproved:before,
.popup-view-agency .information .agency-status ._all:before,
.popup-view-sub-agency .information .sub-agency-status ._all:before,
.popup-view-advertiser .information .advertiser-status ._all:before,
.popup-view-creative-admin .information .creative-status ._all:before,
.popup-view-agency .information .agency-status ._revised:before,
.popup-view-sub-agency .information .sub-agency-status ._revised:before,
.popup-view-advertiser .information .advertiser-status ._revised:before,
.popup-view-creative-admin .information .creative-status ._revised:before {
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 8px;
  margin-right: 10px;
  width: 8px;
}
.popup-view-agency .information .agency-status ._pending:before, .popup-view-sub-agency .information .sub-agency-status ._pending:before, .popup-view-advertiser .information .advertiser-status ._pending:before, .popup-view-creative-admin .information .creative-status ._pending:before {
  background-color: #ffcc5f;
}
.popup-view-agency .information .agency-status ._approved:before, .popup-view-sub-agency .information .sub-agency-status ._approved:before, .popup-view-advertiser .information .advertiser-status ._approved:before, .popup-view-creative-admin .information .creative-status ._approved:before {
  background-color: #39cf6c;
}
.popup-view-agency .information .agency-status ._disapproved:before, .popup-view-sub-agency .information .sub-agency-status ._disapproved:before, .popup-view-advertiser .information .advertiser-status ._disapproved:before, .popup-view-creative-admin .information .creative-status ._disapproved:before {
  background-color: #f88;
}
.popup-view-agency .information .agency-status ._all:before, .popup-view-sub-agency .information .sub-agency-status ._all:before, .popup-view-advertiser .information .advertiser-status ._all:before, .popup-view-creative-admin .information .creative-status ._all:before {
  background-color: #000;
}
.popup-view-agency .information .agency-status ._revised:before, .popup-view-sub-agency .information .sub-agency-status ._revised:before, .popup-view-advertiser .information .advertiser-status ._revised:before, .popup-view-creative-admin .information .creative-status ._revised:before {
  background-color: #88c3ff;
}

.popup-view-agency .popup__container[data-layout] {
  padding-bottom: 15px;
}
.popup-view-agency .information table {
  table-layout: fixed;
  width: 100%;
}
.popup-view-agency .information table td {
  line-height: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: top;
  word-break: break-all;
}
.popup-view-agency .information table th {
  font-size: 14px;
  font-weight: 700;
  min-width: 210px;
  padding-top: 7px;
  text-align: left;
  vertical-align: top;
  width: 210px;
}
.popup-view-agency .information .content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.popup-view-agency .information .agency-status {
  font-size: 13px;
  line-height: 20px;
}
.popup-view-agency .information .agency-status .content {
  *zoom: 1;
  padding: 20px 0 13px;
}
.popup-view-agency .information .agency-status .content:before, .popup-view-agency .information .agency-status .content:after {
  content: '';
  display: table;
}
.popup-view-agency .information .agency-status .content:after {
  clear: both;
}
.popup-view-agency .information .agency-status .approved-status {
  position: relative;
  float: left;
}
.popup-view-agency .information .agency-status .approved-status span {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 290px;
  height: 20px;
  margin-left: 25px;
  display: inline-block;
}
.popup-view-agency .information .agency-status .approved-status span:before {
  position: absolute;
  top: 5px;
  left: 10px;
}
.popup-view-agency .information .agency-status .button__wrap {
  width: 100px;
  float: right;
}
.popup-view-agency .information .agency-status .button__wrap button {
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e12021;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 90px;
  display: block;
  margin-bottom: 7px;
  margin-right: 10px;
}
.popup-view-agency .information .agency-info .content,
.popup-view-agency .information .manager-info .content {
  padding-bottom: 20px;
}
.popup-view-agency .information .contract-period__tr input[data-type='date'] {
  width: 200px;
}
.popup-view-agency .information .contract-period__tr .end-date {
  margin-top: 7px;
  display: block;
}
.popup-view-agency .information .license__tr li {
  line-height: 17px;
}
.popup-view-agency .record .service .content,
.popup-view-agency .record .commission .content {
  padding: 20px 0;
}
.popup-view-agency .record .service th,
.popup-view-agency .record .commission th {
  font-size: 14px;
}
.popup-view-agency .record .service table {
  width: 100%;
}
.popup-view-agency .record .service .button__wrap {
  float: right;
  padding-right: 10px;
}
.popup-view-agency .record .service .button__wrap button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #303030;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 90px;
}
.popup-view-agency .record .service td {
  line-height: 21px;
}
.popup-view-agency .record .service td span:first-child {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  display: inline-block;
  width: 95px;
  height: 21px;
}
.popup-view-agency .record .service th {
  padding-left: 10px;
  vertical-align: top;
  line-height: 20px;
  width: 135px;
  text-align: left;
}
.popup-view-agency .record .commission .commission__tr th,
.popup-view-agency .record .commission .commission__tr td {
  padding-bottom: 20px;
}
.popup-view-agency .record .commission table td .modify-show .limit-text {
  display: block;
  margin-left: 0;
}
.popup-view-agency .record .commission table td .modify-show input[type='radio'] + label {
  padding-left: 0;
}
.popup-view-agency .record .commission table td .modify-show input[type='radio'] + label:before, .popup-view-agency .record .commission table td .modify-show input[type='radio'] + label:after {
  width: 0;
  height: 0;
}
.popup-view-agency .record .commission .commission__tr td {
  line-height: 25px;
}
.popup-view-agency .record .commission input[type="text"] {
  margin-right: 5px;
}
.popup-view-agency .record .commission .limit-input,
.popup-view-agency .record .commission .limit-text {
  margin-left: 15px;
  vertical-align: top;
  line-height: 25px;
}

.popup-add-service .info,
.popup-service-remaining .info {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.popup-add-service .info .amount,
.popup-service-remaining .info .amount {
  color: #39cf6c;
}

.popup-add-service .add-service {
  margin-top: 35px;
}
.popup-add-service .add-service__title {
  display: inline-block;
  width: 95px;
  font-size: 15px;
}
.popup-add-service input[type="text"] {
  width: 90px;
}

.popup-service-remaining .history .history-wrap {
  max-height: 348px;
}
.popup-service-remaining .history li {
  padding-left: 20px;
}

.popup-approve-agency-account table {
  table-layout: fixed;
  width: 100%;
}
.popup-approve-agency-account table td {
  line-height: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: top;
  word-break: break-all;
}
.popup-approve-agency-account table th {
  font-size: 14px;
  font-weight: 700;
  min-width: 210px;
  padding-top: 7px;
  text-align: left;
  vertical-align: top;
  width: 210px;
}
.popup-approve-agency-account .content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.popup-approve-agency-account .agency-info .content,
.popup-approve-agency-account .manager-info .content {
  padding-bottom: 20px;
}

.popup-set-commission .popup__container {
  padding: 55px 30px;
}
.popup-set-commission .popup__container .commission__tr th,
.popup-set-commission .popup__container .commission__tr td {
  padding-bottom: 10px;
}
.popup-set-commission .popup__container th {
  font-size: 15px;
}

.popup-disapprove-creative .popup__container,
.popup-disapprove-advertiser-account .popup__container,
.popup-disapprove-agency-account .popup__container {
  padding: 35px 30px;
}
.popup-disapprove-creative .popup__container textarea,
.popup-disapprove-advertiser-account .popup__container textarea,
.popup-disapprove-agency-account .popup__container textarea {
  height: 120px;
  margin-top: 10px;
}

.popup-sub-agency-account-info table {
  table-layout: fixed;
  width: 100%;
}
.popup-sub-agency-account-info table td {
  line-height: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: top;
  word-break: break-all;
}
.popup-sub-agency-account-info table th {
  font-size: 14px;
  font-weight: 700;
  min-width: 210px;
  padding-top: 7px;
  text-align: left;
  vertical-align: top;
  width: 210px;
}
.popup-sub-agency-account-info .content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.popup-sub-agency-account-info .popup__container {
  margin-bottom: -20px;
}
.popup-sub-agency-account-info .popup__container .agency-info .content {
  padding-bottom: 15px;
}
.popup-sub-agency-account-info .popup__container .agency-info .add-advertiser__tr ul {
  min-height: 25px;
}
.popup-sub-agency-account-info .popup__container .employment-certificate__tr td {
  padding: 3px 0;
}
.popup-sub-agency-account-info .popup__container .employment-certificate__tr td li {
  line-height: 20px;
}
.popup-sub-agency-account-info .popup__footer {
  margin-top: 30px;
}

.popup-view-sub-agency .popup__container[data-layout] {
  padding-bottom: 10px;
}
.popup-view-sub-agency .information table {
  table-layout: fixed;
  width: 100%;
}
.popup-view-sub-agency .information table td {
  line-height: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: top;
  word-break: break-all;
}
.popup-view-sub-agency .information table th {
  font-size: 14px;
  font-weight: 700;
  min-width: 210px;
  padding-top: 7px;
  text-align: left;
  vertical-align: top;
  width: 210px;
}
.popup-view-sub-agency .information .content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.popup-view-sub-agency .information .sub-agency-status {
  font-size: 13px;
  line-height: 20px;
}
.popup-view-sub-agency .information .sub-agency-status .content {
  *zoom: 1;
  padding: 20px 0 13px;
}
.popup-view-sub-agency .information .sub-agency-status .content:before, .popup-view-sub-agency .information .sub-agency-status .content:after {
  content: '';
  display: table;
}
.popup-view-sub-agency .information .sub-agency-status .content:after {
  clear: both;
}
.popup-view-sub-agency .information .sub-agency-status .approved-status {
  position: relative;
  width: 100%;
}
.popup-view-sub-agency .information .sub-agency-status .approved-status._admin {
  float: left;
  width: 320px;
}
.popup-view-sub-agency .information .sub-agency-status .approved-status._admin span {
  width: 100%;
}
.popup-view-sub-agency .information .sub-agency-status .approved-status span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: 405px;
  height: 20px;
  margin-left: 25px;
  display: inline-block;
}
.popup-view-sub-agency .information .sub-agency-status .approved-status span:before {
  position: absolute;
  top: 5px;
  left: 10px;
}
.popup-view-sub-agency .information .sub-agency-status .button__wrap {
  width: 100px;
  float: right;
  margin-right: 10px;
}
.popup-view-sub-agency .information .sub-agency-status .button__wrap button {
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e12021;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 90px;
  display: block;
  margin-bottom: 7px;
}
.popup-view-sub-agency .information .add-advertiser__tr .advertiser__list {
  padding-top: 5px;
}
.popup-view-sub-agency .information .add-advertiser__tr input[type="text"] {
  width: 100%;
}
.popup-view-sub-agency .information .add-advertiser__tr ul {
  padding-bottom: 15px;
  min-height: 25px;
}
.popup-view-sub-agency .information .add-advertiser__tr .modify-hide ul {
  min-height: 0;
}
.popup-view-sub-agency .information .employment-certificate__tr .modify-hide .file__list {
  margin-top: 5px;
}
.popup-view-sub-agency .information .employment-certificate__tr .file__list li a {
  max-width: 91%;
  width: auto;
  padding-right: 0;
}
.popup-view-sub-agency .information .employment-certificate__tr .file__list li .btn-delete {
  margin-left: 0;
  vertical-align: middle;
}
.popup-view-sub-agency .information .manager-info__table input[type="text"] {
  width: 100%;
}
.popup-view-sub-agency .history .content {
  margin-bottom: 0;
}

.popup-add-app tr:first-child th, .popup-add-app tr:first-child td,
.popup-change-password tr:first-child th,
.popup-change-password tr:first-child td {
  padding-top: 0;
}
.popup-add-app th, .popup-add-app td,
.popup-change-password th,
.popup-change-password td {
  padding-top: 10px;
}
.popup-add-app th,
.popup-change-password th {
  width: 165px;
  text-align: left;
  font-size: 15px;
  font-weight: 700;
}
.popup-add-app td,
.popup-change-password td {
  width: 335px;
}
.popup-add-app td input[type="text"],
.popup-add-app td input[type="password"],
.popup-change-password td input[type="text"],
.popup-change-password td input[type="password"] {
  width: 100%;
}

.popup-view-advertiser .advertiser-info table,
.popup-approve-advertiser-account .advertiser-info table {
  table-layout: fixed;
  width: 100%;
}
.popup-view-advertiser .advertiser-info table td,
.popup-approve-advertiser-account .advertiser-info table td {
  line-height: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: top;
  word-break: break-all;
}
.popup-view-advertiser .advertiser-info table th,
.popup-approve-advertiser-account .advertiser-info table th {
  font-size: 14px;
  font-weight: 700;
  min-width: 210px;
  padding-top: 7px;
  text-align: left;
  vertical-align: top;
  width: 210px;
}
.popup-view-advertiser .advertiser-info .content,
.popup-approve-advertiser-account .advertiser-info .content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.popup-view-advertiser .link__tr .select-type,
.popup-approve-advertiser-account .link__tr .select-type {
  display: inline-block;
  padding-right: 5px;
}
.popup-view-advertiser .link__tr .select-type a,
.popup-approve-advertiser-account .link__tr .select-type a {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  display: inline-block;
  vertical-align: top;
}
.popup-view-advertiser .band-profile__tr .band-name,
.popup-approve-advertiser-account .band-profile__tr .band-name {
  width: 168px;
}
.popup-view-advertiser .app-url__tr td .modify-hide .btn-add,
.popup-approve-advertiser-account .app-url__tr td .modify-hide .btn-add {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #303030;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 55px;
}
.popup-view-advertiser .app-url__tr td .modify-hide .btn-add + ul li:first-child,
.popup-approve-advertiser-account .app-url__tr td .modify-hide .btn-add + ul li:first-child {
  margin-top: 5px;
}

.popup-approve-advertiser-account .link__tr a {
  max-width: 230px;
}

.popup-view-advertiser .link__tr label,
.popup-add-advertiser .link__tr label {
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  height: 25px;
  line-height: 25px;
}
.popup-view-advertiser .link__tr label:before, .popup-view-advertiser .link__tr label:after,
.popup-add-advertiser .link__tr label:before,
.popup-add-advertiser .link__tr label:after {
  background-repeat: no-repeat;
}
.popup-view-advertiser .link__tr label:nth-of-type(1),
.popup-add-advertiser .link__tr label:nth-of-type(1) {
  margin-left: 0;
}
.popup-view-advertiser .link__tr input[type='checkbox'],
.popup-view-advertiser .link__tr input[type='radio'],
.popup-add-advertiser .link__tr input[type='checkbox'],
.popup-add-advertiser .link__tr input[type='radio'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.popup-view-advertiser .link__tr input[type='checkbox']:checked + label:after,
.popup-view-advertiser .link__tr input[type='radio']:checked + label:after,
.popup-add-advertiser .link__tr input[type='checkbox']:checked + label:after,
.popup-add-advertiser .link__tr input[type='radio']:checked + label:after {
  background-image: url(../images/vingle/icon_check_313131_13x10.png);
}
.popup-view-advertiser .link__tr input[type='checkbox']:disabled:checked + label:after,
.popup-view-advertiser .link__tr input[type='radio']:disabled:checked + label:after,
.popup-add-advertiser .link__tr input[type='checkbox']:disabled:checked + label:after,
.popup-add-advertiser .link__tr input[type='radio']:disabled:checked + label:after {
  background-image: url(../images/vingle/icon_check_aaaaaa_13x10.png);
}
.popup-view-advertiser .link__tr input[type='checkbox'] + label,
.popup-view-advertiser .link__tr input[type='radio'] + label,
.popup-add-advertiser .link__tr input[type='checkbox'] + label,
.popup-add-advertiser .link__tr input[type='radio'] + label {
  position: relative;
  padding-left: 25px;
}
.popup-view-advertiser .link__tr input[type='checkbox'] + label:before,
.popup-view-advertiser .link__tr input[type='radio'] + label:before,
.popup-add-advertiser .link__tr input[type='checkbox'] + label:before,
.popup-add-advertiser .link__tr input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  vertical-align: top;
  left: 0;
}
.popup-view-advertiser .link__tr input[type='checkbox'] + label:after,
.popup-view-advertiser .link__tr input[type='radio'] + label:after,
.popup-add-advertiser .link__tr input[type='checkbox'] + label:after,
.popup-add-advertiser .link__tr input[type='radio'] + label:after {
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 13px;
  left: 1px;
  top: 5px;
}
.popup-view-advertiser .link__tr input[type='checkbox']:disabled + label:before,
.popup-add-advertiser .link__tr input[type='checkbox']:disabled + label:before {
  background-image: url(../images/vingle/bg_checkbox--disabled_e7e7e7_11x12.png);
  height: 11px;
  width: 11px;
}
.popup-view-advertiser .link__tr input[type='checkbox'] + label:before,
.popup-add-advertiser .link__tr input[type='checkbox'] + label:before {
  background-image: url(../images/vingle/bg_checkbox_bcbcbc_11x11.png);
  height: 11px;
  width: 11px;
}
.popup-view-advertiser .link__tr input[type='radio'] + label:before,
.popup-add-advertiser .link__tr input[type='radio'] + label:before {
  background-image: url(../images/vingle/bg_radio_bcbcbc_13x13.png);
  height: 13px;
  width: 13px;
}
.popup-view-advertiser .link__tr input[type="text"],
.popup-view-advertiser .link__tr input[type="url"],
.popup-add-advertiser .link__tr input[type="text"],
.popup-add-advertiser .link__tr input[type="url"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.popup-view-advertiser .link__tr a,
.popup-add-advertiser .link__tr a {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  display: inline-block;
  max-width: 180px;
  vertical-align: top;
}
.popup-view-advertiser .link__tr .linked-yes,
.popup-view-advertiser .link__tr .linked-no,
.popup-add-advertiser .link__tr .linked-yes,
.popup-add-advertiser .link__tr .linked-no {
  *zoom: 1;
}
.popup-view-advertiser .link__tr .linked-yes:before, .popup-view-advertiser .link__tr .linked-yes:after,
.popup-view-advertiser .link__tr .linked-no:before,
.popup-view-advertiser .link__tr .linked-no:after,
.popup-add-advertiser .link__tr .linked-yes:before,
.popup-add-advertiser .link__tr .linked-yes:after,
.popup-add-advertiser .link__tr .linked-no:before,
.popup-add-advertiser .link__tr .linked-no:after {
  content: '';
  display: table;
}
.popup-view-advertiser .link__tr .linked-yes:after,
.popup-view-advertiser .link__tr .linked-no:after,
.popup-add-advertiser .link__tr .linked-yes:after,
.popup-add-advertiser .link__tr .linked-no:after {
  clear: both;
}
.popup-view-advertiser .link__tr .linked-yes .btn-ok,
.popup-add-advertiser .link__tr .linked-yes .btn-ok {
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #303030;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 55px;
}
.popup-view-advertiser .link__tr .linked-yes li,
.popup-add-advertiser .link__tr .linked-yes li {
  margin-top: 0;
}
.popup-view-advertiser .link__tr .linked-yes li a,
.popup-add-advertiser .link__tr .linked-yes li a {
  width: 93%;
}
.popup-view-advertiser .link__tr .linked-yes .search-name,
.popup-add-advertiser .link__tr .linked-yes .search-name {
  font-size: 0;
}
.popup-view-advertiser .link__tr .linked-no,
.popup-add-advertiser .link__tr .linked-no {
  *zoom: 1;
}
.popup-view-advertiser .link__tr .linked-no:before, .popup-view-advertiser .link__tr .linked-no:after,
.popup-add-advertiser .link__tr .linked-no:before,
.popup-add-advertiser .link__tr .linked-no:after {
  content: '';
  display: table;
}
.popup-view-advertiser .link__tr .linked-no:after,
.popup-add-advertiser .link__tr .linked-no:after {
  clear: both;
}
.popup-view-advertiser .link__tr .linked-no .select-type,
.popup-add-advertiser .link__tr .linked-no .select-type {
  height: 30px;
}
.popup-view-advertiser .link__tr .linked-no input[type="text"],
.popup-add-advertiser .link__tr .linked-no input[type="text"] {
  width: 100%;
}
.popup-view-advertiser .link__tr .modify-show p,
.popup-add-advertiser .link__tr .modify-show p {
  max-width: 25px;
  padding-right: 5px;
  display: inline-block;
}
.popup-view-advertiser .roles__tr label,
.popup-add-advertiser .roles__tr label {
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  height: 25px;
  line-height: 25px;
}
.popup-view-advertiser .roles__tr label:before, .popup-view-advertiser .roles__tr label:after,
.popup-add-advertiser .roles__tr label:before,
.popup-add-advertiser .roles__tr label:after {
  background-repeat: no-repeat;
}
.popup-view-advertiser .roles__tr label:nth-of-type(1),
.popup-add-advertiser .roles__tr label:nth-of-type(1) {
  margin-left: 0;
}
.popup-view-advertiser .roles__tr input[type='checkbox'],
.popup-view-advertiser .roles__tr input[type='radio'],
.popup-add-advertiser .roles__tr input[type='checkbox'],
.popup-add-advertiser .roles__tr input[type='radio'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.popup-view-advertiser .roles__tr input[type='checkbox']:checked + label:after,
.popup-view-advertiser .roles__tr input[type='radio']:checked + label:after,
.popup-add-advertiser .roles__tr input[type='checkbox']:checked + label:after,
.popup-add-advertiser .roles__tr input[type='radio']:checked + label:after {
  background-image: url(../images/vingle/icon_check_313131_13x10.png);
}
.popup-view-advertiser .roles__tr input[type='checkbox']:disabled:checked + label:after,
.popup-view-advertiser .roles__tr input[type='radio']:disabled:checked + label:after,
.popup-add-advertiser .roles__tr input[type='checkbox']:disabled:checked + label:after,
.popup-add-advertiser .roles__tr input[type='radio']:disabled:checked + label:after {
  background-image: url(../images/vingle/icon_check_aaaaaa_13x10.png);
}
.popup-view-advertiser .roles__tr input[type='checkbox'] + label,
.popup-view-advertiser .roles__tr input[type='radio'] + label,
.popup-add-advertiser .roles__tr input[type='checkbox'] + label,
.popup-add-advertiser .roles__tr input[type='radio'] + label {
  position: relative;
  padding-left: 25px;
}
.popup-view-advertiser .roles__tr input[type='checkbox'] + label:before,
.popup-view-advertiser .roles__tr input[type='radio'] + label:before,
.popup-add-advertiser .roles__tr input[type='checkbox'] + label:before,
.popup-add-advertiser .roles__tr input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  vertical-align: top;
  left: 0;
}
.popup-view-advertiser .roles__tr input[type='checkbox'] + label:after,
.popup-view-advertiser .roles__tr input[type='radio'] + label:after,
.popup-add-advertiser .roles__tr input[type='checkbox'] + label:after,
.popup-add-advertiser .roles__tr input[type='radio'] + label:after {
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 13px;
  left: 1px;
  top: 5px;
}
.popup-view-advertiser .roles__tr input[type='checkbox']:disabled + label:before,
.popup-add-advertiser .roles__tr input[type='checkbox']:disabled + label:before {
  background-image: url(../images/vingle/bg_checkbox--disabled_e7e7e7_11x12.png);
  height: 11px;
  width: 11px;
}
.popup-view-advertiser .roles__tr input[type='checkbox'] + label:before,
.popup-add-advertiser .roles__tr input[type='checkbox'] + label:before {
  background-image: url(../images/vingle/bg_checkbox_bcbcbc_11x11.png);
  height: 11px;
  width: 11px;
}
.popup-view-advertiser .roles__tr input[type='radio'] + label:before,
.popup-add-advertiser .roles__tr input[type='radio'] + label:before {
  background-image: url(../images/vingle/bg_radio_bcbcbc_13x13.png);
  height: 13px;
  width: 13px;
}
.popup-view-advertiser .roles__tr label,
.popup-add-advertiser .roles__tr label {
  margin-left: 0;
}
.popup-view-advertiser .corporate-license__tr .file__list a[download],
.popup-add-advertiser .corporate-license__tr .file__list a[download] {
  padding-right: 0;
  max-width: 92%;
  width: auto;
}
.popup-view-advertiser .corporate-license__tr .file__list button,
.popup-add-advertiser .corporate-license__tr .file__list button {
  margin-left: 0;
  vertical-align: middle;
}
.popup-view-advertiser .registration-number__tr input[type="text"],
.popup-add-advertiser .registration-number__tr input[type="text"] {
  width: 100%;
}
.popup-view-advertiser .name__tr .btn-check,
.popup-add-advertiser .name__tr .btn-check {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #303030;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 55px;
  margin-left: 10px;
}

.popup-view-advertiser .information .advertiser-status {
  font-size: 13px;
  line-height: 20px;
}
.popup-view-advertiser .information .advertiser-status .approved-status {
  margin-left: 10px;
  padding: 0 10px;
  padding-left: 20px;
  position: relative;
}
.popup-view-advertiser .information .advertiser-status .approved-status._admin span {
  width: 305px;
}
.popup-view-advertiser .information .advertiser-status .approved-status._admin .btn-disapprove {
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e12021;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 90px;
  display: block;
}
.popup-view-advertiser .information .advertiser-status .approved-status span {
  display: inline-block;
  width: 100%;
  height: 20px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.popup-view-advertiser .information .advertiser-status .approved-status span:before {
  position: absolute;
  top: 5px;
  left: 0;
}
.popup-view-advertiser .information .advertiser-status .btn-disapprove {
  display: none;
}
.popup-view-advertiser .information .advertiser-status .content {
  padding: 17px 0;
}
.popup-view-advertiser .information .roles__tr label {
  margin-left: 0;
}
.popup-view-advertiser .information .name__tr input[type="text"] {
  width: 142px;
}
.popup-view-advertiser .information .name__tr ._success,
.popup-view-advertiser .information .name__tr ._error {
  line-height: 25px;
}
.popup-view-advertiser .information .link__tr .linked-yes .btn-ok {
  margin-left: 2px;
}
.popup-view-advertiser .information .link__tr .linked-yes input[type="text"] {
  width: 150px;
}
.popup-view-advertiser .information .band-profile__tr .modify-show .band-profile + p {
  display: inline-block;
  width: 165px;
}
.popup-view-advertiser .information .app-url__tr .btn-add {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #303030;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 60px;
}
.popup-view-advertiser .information .corporate-license__tr ._success + .file__list li:first-child {
  margin-top: 5px;
}

.popup-view-approval-manager table {
  table-layout: fixed;
  width: 100%;
}
.popup-view-approval-manager table td {
  line-height: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: top;
  word-break: break-all;
}
.popup-view-approval-manager table th {
  font-size: 14px;
  font-weight: 700;
  min-width: 210px;
  padding-top: 7px;
  text-align: left;
  vertical-align: top;
  width: 210px;
}
.popup-view-approval-manager .content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.popup-view-approval-manager.popup .popup__container {
  padding-bottom: 5px;
}
.popup-view-approval-manager .status__tr td p {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.popup-view-approval-manager .status__tr .btn-status {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e12021;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 90px;
}
.popup-view-approval-manager .password__tr td {
  padding-bottom: 30px;
}
.popup-view-approval-manager .password__tr p {
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 5px;
}
.popup-view-approval-manager .password__tr .btn-change-password {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #303030;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 127px;
}
.popup-view-approval-manager .manager-info input[type="text"] {
  width: 100%;
}

.popup-add-approval-manager .account__tbody td .btn-check,
.popup-add-sub-agency .account__tbody td .btn-check,
.popup-add-advertiser .account__tbody td .btn-check {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #303030;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 55px;
  margin-left: 10px;
}

.popup-add-approval-manager .account__tbody td input[type="text"],
.popup-add-approval-manager .account__tbody td input[type="password"],
.popup-add-sub-agency .account__tbody td input[type="text"],
.popup-add-sub-agency .account__tbody td input[type="password"] {
  width: 209px;
  font-size: 13px;
}
.popup-add-approval-manager .account__tbody .confirm-password__tr th,
.popup-add-approval-manager .account__tbody .confirm-password__tr td,
.popup-add-sub-agency .account__tbody .confirm-password__tr th,
.popup-add-sub-agency .account__tbody .confirm-password__tr td {
  padding-bottom: 20px;
}
.popup-add-approval-manager .manager__tbody input[type="text"],
.popup-add-sub-agency .manager__tbody input[type="text"] {
  width: 100%;
}
.popup-add-approval-manager .manager__tbody .name__tr th,
.popup-add-approval-manager .manager__tbody .name__tr td,
.popup-add-sub-agency .manager__tbody .name__tr th,
.popup-add-sub-agency .manager__tbody .name__tr td {
  padding-top: 20px;
  border-top: 1px solid #dadada;
}

.popup-add-approval-manager table {
  table-layout: fixed;
  width: 100%;
}
.popup-add-approval-manager table td {
  line-height: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: top;
  word-break: break-all;
}
.popup-add-approval-manager table th {
  font-size: 14px;
  font-weight: 700;
  min-width: 210px;
  padding-top: 7px;
  text-align: left;
  vertical-align: top;
  width: 210px;
}
.popup-add-approval-manager .content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.popup-add-approval-manager table th {
  width: 165px;
  min-width: 165px;
}

.popup-add-sub-agency table {
  table-layout: fixed;
  width: 100%;
}
.popup-add-sub-agency table td {
  line-height: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: top;
  word-break: break-all;
}
.popup-add-sub-agency table th {
  font-size: 14px;
  font-weight: 700;
  min-width: 165px;
  padding-top: 7px;
  text-align: left;
  vertical-align: top;
  width: 165px;
}
.popup-add-sub-agency .content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.popup-add-sub-agency table .sub-agency__tbody .name__tr th,
.popup-add-sub-agency table .sub-agency__tbody .name__tr td {
  padding-top: 20px;
  border-top: 1px solid #dadada;
}
.popup-add-sub-agency table .sub-agency__tbody .name__tr td input[type="text"] {
  width: 209px;
  font-size: 13px;
}
.popup-add-sub-agency table .sub-agency__tbody .name__tr td .btn-check {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #303030;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 55px;
  margin-left: 10px;
}
.popup-add-sub-agency table .sub-agency__tbody .add-advertiser__tr th,
.popup-add-sub-agency table .sub-agency__tbody .add-advertiser__tr td {
  padding-bottom: 20px;
}
.popup-add-sub-agency table .sub-agency__tbody .add-advertiser__tr .advertiser__list {
  padding-top: 5px;
}
.popup-add-sub-agency table .sub-agency__tbody .add-advertiser__tr .advertiser__list span {
  width: 288px;
}
.popup-add-sub-agency table .file__list {
  margin-top: 5px;
}
.popup-add-sub-agency table .file__list li a[download] {
  max-width: 93%;
  padding-right: 0;
}
.popup-add-sub-agency table .file__list li .btn-delete {
  margin-left: 0;
}

.popup-add-advertiser table {
  table-layout: fixed;
  width: 100%;
}
.popup-add-advertiser table td {
  line-height: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: top;
  word-break: break-all;
}
.popup-add-advertiser table th {
  font-size: 14px;
  font-weight: 700;
  min-width: 210px;
  padding-top: 7px;
  text-align: left;
  vertical-align: top;
  width: 210px;
}
.popup-add-advertiser .content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.popup-add-advertiser .account__tbody td {
  /* firefox 19+ */
  /* ie */
}
.popup-add-advertiser .account__tbody td input[type="text"],
.popup-add-advertiser .account__tbody td input[type="password"] {
  width: 164px;
}
.popup-add-advertiser .account__tbody td ::-webkit-input-placeholder {
  font-size: 12px;
}
.popup-add-advertiser .account__tbody td ::-moz-placeholder {
  font-size: 12px;
}
.popup-add-advertiser .account__tbody td :-ms-input-placeholder {
  font-size: 12px;
}
.popup-add-advertiser .account__tbody td input:-moz-placeholder {
  font-size: 12px;
}
.popup-add-advertiser .account__tbody .roles__tr th,
.popup-add-advertiser .account__tbody .roles__tr td {
  padding-bottom: 20px;
}
.popup-add-advertiser .account__tbody .roles__tr td input:first-child + label {
  margin-right: 15px;
}
.popup-add-advertiser .advertiser__tbody .name__tr input[type="text"] {
  width: 164px;
}
.popup-add-advertiser .advertiser__tbody .name__tr th,
.popup-add-advertiser .advertiser__tbody .name__tr td {
  padding-top: 20px;
  border-top: 1px solid #dadada;
}
.popup-add-advertiser .advertiser__tbody .band-profile__tr input[type="url"],
.popup-add-advertiser .advertiser__tbody .band-profile__tr input[type="text"] {
  width: 100%;
}
.popup-add-advertiser .advertiser__tbody .band-profile__tr .band-name {
  width: 248px;
}
.popup-add-advertiser .advertiser__tbody .link__tr .linked-yes .btn-ok {
  margin-left: 10px;
}
.popup-add-advertiser .advertiser__tbody .link__tr .linked-yes input[type="text"] {
  width: 225px;
}
.popup-add-advertiser .advertiser__tbody .app-url__tr .btn-add {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #303030;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 55px;
}
.popup-add-advertiser .advertiser__tbody .app-url__tr .btn-add + ul li:first-child {
  margin-top: 5px;
}
.popup-add-advertiser .advertiser__tbody .corporate-license__tr .file__list {
  margin-top: 5px;
}

.popup-view-creative-admin .popup__container[data-layout] {
  padding-bottom: 0;
}
.popup-view-creative-admin .information .content {
  padding: 17px 0;
}
.popup-view-creative-admin .information .btn-disapprove {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e12021;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 98px;
  float: right;
  margin-right: 10px;
}
.popup-view-creative-admin .information .creative-status {
  font-size: 13px;
  line-height: 20px;
}
.popup-view-creative-admin .information .creative-status .approved-status {
  position: relative;
  padding-left: 25px;
}
.popup-view-creative-admin .information .creative-status span {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: 300px;
  display: inline-block;
  height: 20px;
}
.popup-view-creative-admin .information .creative-status span:before {
  position: absolute;
  top: 6px;
  left: 10px;
}
.popup-view-creative-admin .information .creative-information table {
  table-layout: fixed;
  width: 100%;
}
.popup-view-creative-admin .information .creative-information table td {
  line-height: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: top;
  word-break: break-all;
}
.popup-view-creative-admin .information .creative-information table th {
  font-size: 14px;
  font-weight: 700;
  min-width: 145px;
  padding-top: 7px;
  text-align: left;
  vertical-align: top;
  width: 145px;
}
.popup-view-creative-admin .information .creative-information .content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.popup-view-creative-admin .information .creative-information .content {
  padding-bottom: 20px;
}
.popup-view-creative-admin .information .creative .content {
  position: relative;
  height: 650px;
}
.popup-view-creative-admin .information .creative .preview-phone {
  height: 543px;
}
.popup-view-creative-admin .information .creative p {
  font-size: 14px;
  font-weight: 700;
}
.popup-view-creative-admin .information .creative .feed-text {
  font-size: 11px;
  font-weight: 400;
}

.popup-view-creative table,
.popup-approve-creative table {
  table-layout: fixed;
  width: 100%;
}
.popup-view-creative table td,
.popup-approve-creative table td {
  line-height: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: top;
  word-break: break-all;
}
.popup-view-creative table th,
.popup-approve-creative table th {
  font-size: 14px;
  font-weight: 700;
  min-width: 140px;
  padding-top: 7px;
  text-align: left;
  vertical-align: top;
  width: 140px;
}
.popup-view-creative .content,
.popup-approve-creative .content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.popup-view-creative .information .content,
.popup-approve-creative .information .content {
  padding-bottom: 20px;
}

.popup-approve-creative .creative p {
  font-size: 14px;
  font-weight: 700;
}
.popup-approve-creative .creative .title {
  position: relative;
}
.popup-approve-creative .creative .title .set {
  font-size: 12px;
  position: absolute;
  right: 10px;
  vertical-align: middle;
}
.popup-approve-creative .creative .title .set .select2 {
  margin-right: 3px;
}
.popup-approve-creative .creative .title .set select {
  width: 40px;
}
.popup-approve-creative .creative .text div {
  max-height: 120px;
  overflow-y: auto;
}
.popup-approve-creative .creative .text pre {
  width: 100%;
  white-space: pre-line;
  line-height: 15px;
  word-wrap: break-word;
  word-break: break-all;
  margin-top: 10px;
  margin-bottom: 10px;
}
.popup-approve-creative .creative .text textarea {
  height: 144px;
  margin-top: 12px;
  margin-bottom: 20px;
}
.popup-approve-creative .creative .image p,
.popup-approve-creative .creative .video p {
  padding-bottom: 10px;
}
.popup-approve-creative .creative .video .btn-play {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e12021;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 70px;
  float: right;
}
.popup-approve-creative .creative .landing {
  padding-top: 20px;
}
.popup-approve-creative .creative .landing p {
  display: inline-block;
  width: 50px;
}
.popup-approve-creative .creative .landing span {
  display: inline-block;
  word-break: break-all;
  vertical-align: top;
  max-width: 425px;
}
.popup-approve-creative .creative .landing-title {
  margin-top: 15px;
  word-break: break-all;
}
.popup-approve-creative .creative .landing-title .main-only,
.popup-approve-creative .creative .landing-title .main-sub {
  padding-top: 10px;
  line-height: 15px;
}
.popup-approve-creative .creative .landing-title .main-sub {
  *zoom: 1;
}
.popup-approve-creative .creative .landing-title .main-sub:before, .popup-approve-creative .creative .landing-title .main-sub:after {
  content: '';
  display: table;
}
.popup-approve-creative .creative .landing-title .main-sub:after {
  clear: both;
}
.popup-approve-creative .creative .landing-title .main-sub .sub,
.popup-approve-creative .creative .landing-title .main-sub .main {
  width: 45%;
}
.popup-approve-creative .creative .landing-title .main-sub .main {
  float: left;
}
.popup-approve-creative .creative .landing-title .main-sub .sub {
  float: right;
}
.popup-approve-creative .creative .landing-title .main-sub p span,
.popup-approve-creative .creative .landing-title .main-sub p strong {
  vertical-align: middle;
}
.popup-approve-creative .creative .landing-title .main-sub p span {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  font-weight: 400;
  font-size: 12px;
  margin-left: 10px;
  height: 15px;
  display: inline-block;
  width: 80%;
}

.popup-view-creative .popup__container {
  position: relative;
}
.popup-view-creative .btn-campaign {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e12021;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  width: 110px;
  position: absolute;
  right: 30px;
  top: 7px;
}
.popup-view-creative .creative {
  height: 660px;
}
.popup-view-creative .creative .feed-text {
  font-size: 11px;
  font-weight: 400;
}
.popup-view-creative .creative .content {
  padding-top: 0;
}

.popup-create-new-audience table,
.popup-add-new-audience table,
.popup-edit-audience table {
  table-layout: fixed;
  width: 100%;
}
.popup-create-new-audience table td,
.popup-add-new-audience table td,
.popup-edit-audience table td {
  line-height: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  vertical-align: top;
  word-break: break-all;
}
.popup-create-new-audience table th,
.popup-add-new-audience table th,
.popup-edit-audience table th {
  font-size: 14px;
  font-weight: 700;
  min-width: 120px;
  padding-top: 7px;
  text-align: left;
  vertical-align: top;
  width: 120px;
}
.popup-create-new-audience .content,
.popup-add-new-audience .content,
.popup-edit-audience .content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.popup-create-new-audience .edit-budget__table,
.popup-add-new-audience .edit-budget__table,
.popup-edit-audience .edit-budget__table {
  margin-bottom: 25px;
}
.popup-create-new-audience .edit-budget__table .audience-name__tr input[type="text"],
.popup-add-new-audience .edit-budget__table .audience-name__tr input[type="text"],
.popup-edit-audience .edit-budget__table .audience-name__tr input[type="text"] {
  width: 285px;
}
.popup-create-new-audience .edit-budget__table .budget__tr select,
.popup-create-new-audience .edit-budget__table .budget__tr input[type="text"],
.popup-create-new-audience .edit-budget__table .bid__tr select,
.popup-create-new-audience .edit-budget__table .bid__tr input[type="text"],
.popup-add-new-audience .edit-budget__table .budget__tr select,
.popup-add-new-audience .edit-budget__table .budget__tr input[type="text"],
.popup-add-new-audience .edit-budget__table .bid__tr select,
.popup-add-new-audience .edit-budget__table .bid__tr input[type="text"],
.popup-edit-audience .edit-budget__table .budget__tr select,
.popup-edit-audience .edit-budget__table .budget__tr input[type="text"],
.popup-edit-audience .edit-budget__table .bid__tr select,
.popup-edit-audience .edit-budget__table .bid__tr input[type="text"] {
  width: 138px;
}
.popup-create-new-audience .edit-budget__table .bid__tr input[type="text"],
.popup-add-new-audience .edit-budget__table .bid__tr input[type="text"],
.popup-edit-audience .edit-budget__table .bid__tr input[type="text"] {
  margin-left: 6px;
}
.popup-create-new-audience .edit-audience__table,
.popup-add-new-audience .edit-audience__table,
.popup-edit-audience .edit-audience__table {
  position: relative;
}
.popup-create-new-audience .edit-audience__table .age__tr select,
.popup-create-new-audience .edit-audience__table .gender__tr select,
.popup-add-new-audience .edit-audience__table .age__tr select,
.popup-add-new-audience .edit-audience__table .gender__tr select,
.popup-edit-audience .edit-audience__table .age__tr select,
.popup-edit-audience .edit-audience__table .gender__tr select {
  width: 65px;
}
.popup-create-new-audience .edit-audience__table .age__tr .unknown,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown,
.popup-add-new-audience .edit-audience__table .age__tr .unknown,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown,
.popup-edit-audience .edit-audience__table .age__tr .unknown,
.popup-edit-audience .edit-audience__table .gender__tr .unknown {
  padding-left: 10px;
}
.popup-create-new-audience .edit-audience__table .age__tr .unknown label,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown label,
.popup-add-new-audience .edit-audience__table .age__tr .unknown label,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown label,
.popup-edit-audience .edit-audience__table .age__tr .unknown label,
.popup-edit-audience .edit-audience__table .gender__tr .unknown label {
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  height: 25px;
  line-height: 25px;
}
.popup-create-new-audience .edit-audience__table .age__tr .unknown label:before, .popup-create-new-audience .edit-audience__table .age__tr .unknown label:after,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown label:before,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown label:after,
.popup-add-new-audience .edit-audience__table .age__tr .unknown label:before,
.popup-add-new-audience .edit-audience__table .age__tr .unknown label:after,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown label:before,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown label:after,
.popup-edit-audience .edit-audience__table .age__tr .unknown label:before,
.popup-edit-audience .edit-audience__table .age__tr .unknown label:after,
.popup-edit-audience .edit-audience__table .gender__tr .unknown label:before,
.popup-edit-audience .edit-audience__table .gender__tr .unknown label:after {
  background-repeat: no-repeat;
}
.popup-create-new-audience .edit-audience__table .age__tr .unknown label:nth-of-type(1),
.popup-create-new-audience .edit-audience__table .gender__tr .unknown label:nth-of-type(1),
.popup-add-new-audience .edit-audience__table .age__tr .unknown label:nth-of-type(1),
.popup-add-new-audience .edit-audience__table .gender__tr .unknown label:nth-of-type(1),
.popup-edit-audience .edit-audience__table .age__tr .unknown label:nth-of-type(1),
.popup-edit-audience .edit-audience__table .gender__tr .unknown label:nth-of-type(1) {
  margin-left: 0;
}
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox'],
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='radio'],
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'],
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='radio'],
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox'],
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='radio'],
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'],
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='radio'],
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='checkbox'],
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='radio'],
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'],
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='radio'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox']:checked + label:after,
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='radio']:checked + label:after,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox']:checked + label:after,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='radio']:checked + label:after,
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox']:checked + label:after,
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='radio']:checked + label:after,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox']:checked + label:after,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='radio']:checked + label:after,
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='checkbox']:checked + label:after,
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='radio']:checked + label:after,
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='checkbox']:checked + label:after,
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='radio']:checked + label:after {
  background-image: url(../images/vingle/icon_check_313131_13x10.png);
}
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox']:disabled:checked + label:after,
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='radio']:disabled:checked + label:after,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox']:disabled:checked + label:after,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='radio']:disabled:checked + label:after,
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox']:disabled:checked + label:after,
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='radio']:disabled:checked + label:after,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox']:disabled:checked + label:after,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='radio']:disabled:checked + label:after,
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='checkbox']:disabled:checked + label:after,
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='radio']:disabled:checked + label:after,
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='checkbox']:disabled:checked + label:after,
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='radio']:disabled:checked + label:after {
  background-image: url(../images/vingle/icon_check_aaaaaa_13x10.png);
}
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox'] + label,
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='radio'] + label,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'] + label,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='radio'] + label,
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox'] + label,
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='radio'] + label,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'] + label,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='radio'] + label,
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='checkbox'] + label,
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='radio'] + label,
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'] + label,
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='radio'] + label {
  position: relative;
  padding-left: 25px;
}
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox'] + label:before,
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='radio'] + label:before,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'] + label:before,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='radio'] + label:before,
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox'] + label:before,
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='radio'] + label:before,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'] + label:before,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='radio'] + label:before,
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='checkbox'] + label:before,
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='radio'] + label:before,
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'] + label:before,
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  vertical-align: top;
  left: 0;
}
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox'] + label:after,
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='radio'] + label:after,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'] + label:after,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='radio'] + label:after,
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox'] + label:after,
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='radio'] + label:after,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'] + label:after,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='radio'] + label:after,
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='checkbox'] + label:after,
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='radio'] + label:after,
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'] + label:after,
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='radio'] + label:after {
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 13px;
  left: 1px;
  top: 5px;
}
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox']:disabled + label:before,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox']:disabled + label:before,
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox']:disabled + label:before,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox']:disabled + label:before,
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='checkbox']:disabled + label:before,
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='checkbox']:disabled + label:before {
  background-image: url(../images/vingle/bg_checkbox--disabled_e7e7e7_11x12.png);
  height: 11px;
  width: 11px;
}
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox'] + label:before,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'] + label:before,
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='checkbox'] + label:before,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'] + label:before,
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='checkbox'] + label:before,
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='checkbox'] + label:before {
  background-image: url(../images/vingle/bg_checkbox_bcbcbc_11x11.png);
  height: 11px;
  width: 11px;
}
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type='radio'] + label:before,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type='radio'] + label:before,
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type='radio'] + label:before,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type='radio'] + label:before,
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type='radio'] + label:before,
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type='radio'] + label:before {
  background-image: url(../images/vingle/bg_radio_bcbcbc_13x13.png);
  height: 13px;
  width: 13px;
}
.popup-create-new-audience .edit-audience__table .age__tr .unknown input[type="checkbox"] + label,
.popup-create-new-audience .edit-audience__table .gender__tr .unknown input[type="checkbox"] + label,
.popup-add-new-audience .edit-audience__table .age__tr .unknown input[type="checkbox"] + label,
.popup-add-new-audience .edit-audience__table .gender__tr .unknown input[type="checkbox"] + label,
.popup-edit-audience .edit-audience__table .age__tr .unknown input[type="checkbox"] + label,
.popup-edit-audience .edit-audience__table .gender__tr .unknown input[type="checkbox"] + label {
  padding-left: 15px;
}
.popup-create-new-audience .edit-audience__table .gender__tr select,
.popup-create-new-audience .edit-audience__table .device__tr select,
.popup-add-new-audience .edit-audience__table .gender__tr select,
.popup-add-new-audience .edit-audience__table .device__tr select,
.popup-edit-audience .edit-audience__table .gender__tr select,
.popup-edit-audience .edit-audience__table .device__tr select {
  width: 138px;
}
.popup-create-new-audience .edit-audience__table .device__tr .device__select,
.popup-add-new-audience .edit-audience__table .device__tr .device__select,
.popup-edit-audience .edit-audience__table .device__tr .device__select {
  width: 138px;
}
.popup-create-new-audience .edit-audience__table .device__tr .url,
.popup-add-new-audience .edit-audience__table .device__tr .url,
.popup-edit-audience .edit-audience__table .device__tr .url {
  padding-top: 10px;
}
.popup-create-new-audience .edit-audience__table .device__tr .url .url__select,
.popup-add-new-audience .edit-audience__table .device__tr .url .url__select,
.popup-edit-audience .edit-audience__table .device__tr .url .url__select {
  width: 100%;
}
.popup-create-new-audience .edit-audience__table .potential-reach,
.popup-add-new-audience .edit-audience__table .potential-reach,
.popup-edit-audience .edit-audience__table .potential-reach {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
}
.popup-create-new-audience .edit-audience__table .potential-reach .title,
.popup-add-new-audience .edit-audience__table .potential-reach .title,
.popup-edit-audience .edit-audience__table .potential-reach .title {
  margin-bottom: 10px;
  background: #eaeaea;
  border-bottom: 3px solid #f1f1f1;
}
.popup-create-new-audience .edit-audience__table .potential-reach .info,
.popup-add-new-audience .edit-audience__table .potential-reach .info,
.popup-edit-audience .edit-audience__table .potential-reach .info {
  padding-left: 10px;
}
.popup-create-new-audience .edit-audience__table .potential-reach .info span,
.popup-add-new-audience .edit-audience__table .potential-reach .info span,
.popup-edit-audience .edit-audience__table .potential-reach .info span {
  font-size: 15px;
  color: #39cf6c;
  font-weight: 700;
}

.popup-add-new-creative .choose-audience__list {
  margin-top: 10px;
  height: 152px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #c6c6c6;
}
.popup-add-new-creative .choose-audience__list label {
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  height: 25px;
  line-height: 25px;
}
.popup-add-new-creative .choose-audience__list label:before, .popup-add-new-creative .choose-audience__list label:after {
  background-repeat: no-repeat;
}
.popup-add-new-creative .choose-audience__list label:nth-of-type(1) {
  margin-left: 0;
}
.popup-add-new-creative .choose-audience__list input[type='checkbox'],
.popup-add-new-creative .choose-audience__list input[type='radio'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.popup-add-new-creative .choose-audience__list input[type='checkbox']:checked + label:after,
.popup-add-new-creative .choose-audience__list input[type='radio']:checked + label:after {
  background-image: url(../images/vingle/icon_check_313131_13x10.png);
}
.popup-add-new-creative .choose-audience__list input[type='checkbox']:disabled:checked + label:after,
.popup-add-new-creative .choose-audience__list input[type='radio']:disabled:checked + label:after {
  background-image: url(../images/vingle/icon_check_aaaaaa_13x10.png);
}
.popup-add-new-creative .choose-audience__list input[type='checkbox'] + label,
.popup-add-new-creative .choose-audience__list input[type='radio'] + label {
  position: relative;
  padding-left: 25px;
}
.popup-add-new-creative .choose-audience__list input[type='checkbox'] + label:before,
.popup-add-new-creative .choose-audience__list input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  vertical-align: top;
  left: 0;
}
.popup-add-new-creative .choose-audience__list input[type='checkbox'] + label:after,
.popup-add-new-creative .choose-audience__list input[type='radio'] + label:after {
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 13px;
  left: 1px;
  top: 5px;
}
.popup-add-new-creative .choose-audience__list input[type='checkbox']:disabled + label:before {
  background-image: url(../images/vingle/bg_checkbox--disabled_e7e7e7_11x12.png);
  height: 11px;
  width: 11px;
}
.popup-add-new-creative .choose-audience__list input[type='checkbox'] + label:before {
  background-image: url(../images/vingle/bg_checkbox_bcbcbc_11x11.png);
  height: 11px;
  width: 11px;
}
.popup-add-new-creative .choose-audience__list input[type='radio'] + label:before {
  background-image: url(../images/vingle/bg_radio_bcbcbc_13x13.png);
  height: 13px;
  width: 13px;
}
.popup-add-new-creative .choose-audience__list._error {
  border: 1px solid #ff8a8a;
}
.popup-add-new-creative .choose-audience__list li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 29px;
}
.popup-add-new-creative .choose-audience__list input[type="checkbox"] + label {
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 33px;
}
.popup-add-new-creative .choose-audience__list input[type="checkbox"] + label span {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  display: inline-block;
  height: 25px;
  width: 650px;
}
.popup-add-new-creative .choose-audience__list input[type="checkbox"] + label:before, .popup-add-new-creative .choose-audience__list input[type="checkbox"] + label:after {
  left: 10px;
}

.popup-add-new-audience .creative-content-wrap,
.popup-add-new-creative .creative-content-wrap {
  *zoom: 1;
  display: table;
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.popup-add-new-audience .creative-content-wrap:before, .popup-add-new-audience .creative-content-wrap:after,
.popup-add-new-creative .creative-content-wrap:before,
.popup-add-new-creative .creative-content-wrap:after {
  content: '';
  display: table;
}
.popup-add-new-audience .creative-content-wrap:after,
.popup-add-new-creative .creative-content-wrap:after {
  clear: both;
}
.popup-add-new-audience .creative-content-wrap .choose-creative,
.popup-add-new-creative .creative-content-wrap .choose-creative {
  display: table-cell;
}
.popup-add-new-audience .creative-content-wrap .choose-creative .create-new-content,
.popup-add-new-creative .creative-content-wrap .choose-creative .create-new-content {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  position: relative;
}
.popup-add-new-audience .creative-content-wrap .choose-creative .create-new-content .create-new-list,
.popup-add-new-creative .creative-content-wrap .choose-creative .create-new-content .create-new-list {
  margin-left: 70px;
}
.popup-add-new-audience .creative-content-wrap .choose-creative .creative-library,
.popup-add-new-creative .creative-content-wrap .choose-creative .creative-library {
  padding: 0 10px;
}
.popup-add-new-audience .creative-content-wrap .choose-creative .creative-library p,
.popup-add-new-creative .creative-content-wrap .choose-creative .creative-library p {
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 14px;
}
.popup-add-new-audience .creative-content-wrap .choose-creative .creative-library__scroll,
.popup-add-new-creative .creative-content-wrap .choose-creative .creative-library__scroll {
  height: 490px;
  margin-top: 5px;
  padding: 5px;
}
.popup-add-new-audience .creative-content-wrap .choose-creative .creative-library__scroll p,
.popup-add-new-creative .creative-content-wrap .choose-creative .creative-library__scroll p {
  font-size: 14px;
}
.popup-add-new-audience .creative-content-wrap .choose-creative .creative-library__scroll .image-select__list li,
.popup-add-new-creative .creative-content-wrap .choose-creative .creative-library__scroll .image-select__list li {
  margin-left: 7px;
  margin-top: 7px;
}
.popup-add-new-audience .creative-content-wrap .preview .preview-content,
.popup-add-new-creative .creative-content-wrap .preview .preview-content {
  top: 40px;
  right: 0;
  padding-top: 30px;
}
.popup-add-new-audience .creative-content-wrap .preview .preview-content:after,
.popup-add-new-creative .creative-content-wrap .preview .preview-content:after {
  bottom: -6px;
}
.popup-add-new-audience .creative-content-wrap .preview .preview-page,
.popup-add-new-creative .creative-content-wrap .preview .preview-page {
  position: relative;
  padding: 10px 0;
  overflow: hidden;
}
.popup-add-new-audience .creative-content-wrap .preview .preview-page .preview-phone,
.popup-add-new-creative .creative-content-wrap .preview .preview-page .preview-phone {
  margin-top: 14px;
}

.popup-upload-new-creative .upload-new-creative__tab {
  border-bottom: 1px solid #ddd;
  font-size: 0;
}
.popup-upload-new-creative .upload-new-creative__tab li {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 1px;
  width: 160px;
}
.popup-upload-new-creative .upload-new-creative__tab li:first-child {
  margin-left: 0;
}
.popup-upload-new-creative .upload-new-creative__tab a {
  background-color: #e4e4e4;
  border-radius: 5px 5px 0 0;
  color: #303030;
  display: block;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}
.popup-upload-new-creative .upload-new-creative__tab ._active a {
  background-color: #303030;
  color: #fff;
}
.popup-upload-new-creative .upload-new-creative__tab ._active a {
  background-color: #39cf6c;
}
.popup-upload-new-creative .content__tab {
  padding: 0 10px;
}
.popup-upload-new-creative .content__tab p {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}
.popup-upload-new-creative .content__tab p .info {
  font-weight: 400;
  font-size: 13px;
  color: #bbb;
  padding-left: 10px;
}
.popup-upload-new-creative .content__tab .max-length {
  font-size: 11px;
  color: rgba(49, 49, 49, 0.5);
  position: absolute;
  bottom: 3px;
  right: 4px;
}
.popup-upload-new-creative .content__tab .max-length._over {
  color: #ff8a8a;
}
.popup-upload-new-creative .single-image__section .landing-type__article p,
.popup-upload-new-creative .single-image__section .landing-title__article p,
.popup-upload-new-creative .single-image__section .call-to-action__article p,
.popup-upload-new-creative .video__section .landing-type__article p,
.popup-upload-new-creative .video__section .landing-title__article p,
.popup-upload-new-creative .video__section .call-to-action__article p {
  display: inline-block;
  vertical-align: top;
  width: 95px;
  float: left;
}
.popup-upload-new-creative .single-image__section .landing-type__article,
.popup-upload-new-creative .single-image__section .landing-title__article,
.popup-upload-new-creative .video__section .landing-type__article,
.popup-upload-new-creative .video__section .landing-title__article {
  padding-top: 20px;
}
.popup-upload-new-creative .single-image__section .landing-type__article .type__wrap,
.popup-upload-new-creative .video__section .landing-type__article .type__wrap {
  margin-left: 95px;
}
.popup-upload-new-creative .single-image__section .landing-title__article .landing-title__wrap,
.popup-upload-new-creative .video__section .landing-title__article .landing-title__wrap {
  margin-left: 95px;
}
.popup-upload-new-creative .single-image__section .landing-title__article .landing-title__wrap .main,
.popup-upload-new-creative .video__section .landing-title__article .landing-title__wrap .main {
  float: left;
}
.popup-upload-new-creative .single-image__section .landing-title__article .landing-title__wrap .sub,
.popup-upload-new-creative .video__section .landing-title__article .landing-title__wrap .sub {
  float: right;
}
.popup-upload-new-creative .single-image__section .main-sub .main,
.popup-upload-new-creative .single-image__section .main-sub .sub,
.popup-upload-new-creative .video__section .main-sub .main,
.popup-upload-new-creative .video__section .main-sub .sub {
  width: 48%;
}
.popup-upload-new-creative .choose__article {
  padding-top: 20px;
}
.popup-upload-new-creative .choose__article label {
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  height: 25px;
  line-height: 25px;
}
.popup-upload-new-creative .choose__article label:before, .popup-upload-new-creative .choose__article label:after {
  background-repeat: no-repeat;
}
.popup-upload-new-creative .choose__article label:nth-of-type(1) {
  margin-left: 0;
}
.popup-upload-new-creative .choose__article input[type='checkbox'],
.popup-upload-new-creative .choose__article input[type='radio'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.popup-upload-new-creative .choose__article input[type='checkbox']:checked + label:after,
.popup-upload-new-creative .choose__article input[type='radio']:checked + label:after {
  background-image: url(../images/vingle/icon_check_313131_13x10.png);
}
.popup-upload-new-creative .choose__article input[type='checkbox']:disabled:checked + label:after,
.popup-upload-new-creative .choose__article input[type='radio']:disabled:checked + label:after {
  background-image: url(../images/vingle/icon_check_aaaaaa_13x10.png);
}
.popup-upload-new-creative .choose__article input[type='checkbox'] + label,
.popup-upload-new-creative .choose__article input[type='radio'] + label {
  position: relative;
  padding-left: 25px;
}
.popup-upload-new-creative .choose__article input[type='checkbox'] + label:before,
.popup-upload-new-creative .choose__article input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  vertical-align: top;
  left: 0;
}
.popup-upload-new-creative .choose__article input[type='checkbox'] + label:after,
.popup-upload-new-creative .choose__article input[type='radio'] + label:after {
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 13px;
  left: 1px;
  top: 5px;
}
.popup-upload-new-creative .choose__article input[type='checkbox']:disabled + label:before {
  background-image: url(../images/vingle/bg_checkbox--disabled_e7e7e7_11x12.png);
  height: 11px;
  width: 11px;
}
.popup-upload-new-creative .choose__article input[type='checkbox'] + label:before {
  background-image: url(../images/vingle/bg_checkbox_bcbcbc_11x11.png);
  height: 11px;
  width: 11px;
}
.popup-upload-new-creative .choose__article input[type='radio'] + label:before {
  background-image: url(../images/vingle/bg_radio_bcbcbc_13x13.png);
  height: 13px;
  width: 13px;
}
.popup-upload-new-creative .choose__article .select-create,
.popup-upload-new-creative .choose__article .existing-post {
  display: inline-block;
}
.popup-upload-new-creative .choose__article .select-create {
  width: 230px;
  vertical-align: top;
}
.popup-upload-new-creative .choose__article .select-create label {
  font-size: 16px;
}
.popup-upload-new-creative .choose__article .existing-post {
  width: 445px;
}
.popup-upload-new-creative .creative-type__article {
  padding-top: 20px;
}
.popup-upload-new-creative .creative-type__article p {
  display: inline-block;
  width: 95px;
}
.popup-upload-new-creative .text__article {
  position: relative;
  padding-top: 20px;
  font-size: 0;
}
.popup-upload-new-creative .text__article textarea {
  height: 120px;
  max-height: 120px;
}
.popup-upload-new-creative .image__article {
  padding-top: 20px;
}
.popup-upload-new-creative .image__article button[data-type="upload"] {
  width: 85px;
  float: right;
}
.popup-upload-new-creative .image__article .creative-library__scroll {
  height: 215px;
}
.popup-upload-new-creative .image__article .creative-library__scroll .image-select__list {
  padding: 5px;
}
.popup-upload-new-creative .image__article .creative-library__scroll .image-select__list li {
  margin-top: 4px;
  margin-left: 4px;
}
.popup-upload-new-creative .video-thumbnails__article {
  margin-top: 20px;
}
.popup-upload-new-creative .video-thumbnails__article .video-thumbnails__box {
  font-size: 0;
}
.popup-upload-new-creative .video-thumbnails__article .video-thumbnails__box li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f1f1f1;
  border: 1px solid #c9c9c9;
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 41px;
  width: 8.18%;
  margin-left: 1%;
  cursor: pointer;
}
.popup-upload-new-creative .video-thumbnails__article .video-thumbnails__box li img {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.popup-upload-new-creative .video-thumbnails__article .video-thumbnails__box li:first-child {
  margin-left: 0;
}
.popup-upload-new-creative .video-thumbnails__article .video-thumbnails__box li._active:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}
.popup-upload-new-creative .video-thumbnails__article .video-thumbnails__box li.custom-image {
  border: 3px solid #e4e4e4;
  background: url(../images/vingle/btn_add_ababab_10x10.png) no-repeat 50% 30% #fff;
}
.popup-upload-new-creative .video-thumbnails__article .video-thumbnails__box li.custom-image:after {
  content: 'Custom';
  font-size: 11px;
  position: absolute;
  left: 8px;
  top: 21px;
}
.popup-upload-new-creative .landing-type__article input[type="text"],
.popup-upload-new-creative .landing-title__article input[type="text"],
.popup-upload-new-creative .call-to-action__article input[type="text"] {
  width: 100%;
}
.popup-upload-new-creative .landing-type__article .type__selected {
  margin-bottom: 6px;
}
.popup-upload-new-creative .landing-type__article .type__wrap label {
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  height: 25px;
  line-height: 25px;
}
.popup-upload-new-creative .landing-type__article .type__wrap label:before, .popup-upload-new-creative .landing-type__article .type__wrap label:after {
  background-repeat: no-repeat;
}
.popup-upload-new-creative .landing-type__article .type__wrap label:nth-of-type(1) {
  margin-left: 0;
}
.popup-upload-new-creative .landing-type__article .type__wrap input[type='checkbox'],
.popup-upload-new-creative .landing-type__article .type__wrap input[type='radio'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.popup-upload-new-creative .landing-type__article .type__wrap input[type='checkbox']:checked + label:after,
.popup-upload-new-creative .landing-type__article .type__wrap input[type='radio']:checked + label:after {
  background-image: url(../images/vingle/icon_check_313131_13x10.png);
}
.popup-upload-new-creative .landing-type__article .type__wrap input[type='checkbox']:disabled:checked + label:after,
.popup-upload-new-creative .landing-type__article .type__wrap input[type='radio']:disabled:checked + label:after {
  background-image: url(../images/vingle/icon_check_aaaaaa_13x10.png);
}
.popup-upload-new-creative .landing-type__article .type__wrap input[type='checkbox'] + label,
.popup-upload-new-creative .landing-type__article .type__wrap input[type='radio'] + label {
  position: relative;
  padding-left: 25px;
}
.popup-upload-new-creative .landing-type__article .type__wrap input[type='checkbox'] + label:before,
.popup-upload-new-creative .landing-type__article .type__wrap input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  vertical-align: top;
  left: 0;
}
.popup-upload-new-creative .landing-type__article .type__wrap input[type='checkbox'] + label:after,
.popup-upload-new-creative .landing-type__article .type__wrap input[type='radio'] + label:after {
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 13px;
  left: 1px;
  top: 5px;
}
.popup-upload-new-creative .landing-type__article .type__wrap input[type='checkbox']:disabled + label:before {
  background-image: url(../images/vingle/bg_checkbox--disabled_e7e7e7_11x12.png);
  height: 11px;
  width: 11px;
}
.popup-upload-new-creative .landing-type__article .type__wrap input[type='checkbox'] + label:before {
  background-image: url(../images/vingle/bg_checkbox_bcbcbc_11x11.png);
  height: 11px;
  width: 11px;
}
.popup-upload-new-creative .landing-type__article .type__wrap input[type='radio'] + label:before {
  background-image: url(../images/vingle/bg_radio_bcbcbc_13x13.png);
  height: 13px;
  width: 13px;
}
.popup-upload-new-creative .landing-title__article .landing-title__selected {
  margin-bottom: 6px;
}
.popup-upload-new-creative .landing-title__article .main-only,
.popup-upload-new-creative .landing-title__article .main-sub {
  *zoom: 1;
}
.popup-upload-new-creative .landing-title__article .main-only:before, .popup-upload-new-creative .landing-title__article .main-only:after,
.popup-upload-new-creative .landing-title__article .main-sub:before,
.popup-upload-new-creative .landing-title__article .main-sub:after {
  content: '';
  display: table;
}
.popup-upload-new-creative .landing-title__article .main-only:after,
.popup-upload-new-creative .landing-title__article .main-sub:after {
  clear: both;
}
.popup-upload-new-creative .landing-title__article .main-only {
  position: relative;
}
.popup-upload-new-creative .landing-title__article .main-sub .main,
.popup-upload-new-creative .landing-title__article .main-sub .sub {
  position: relative;
}
.popup-upload-new-creative .landing-title__article .main-sub .main label,
.popup-upload-new-creative .landing-title__article .main-sub .sub label {
  position: absolute;
  font-size: 0;
  width: 0;
  height: 0;
}
.popup-upload-new-creative .call-to-action__article {
  margin-top: 20px;
}
.popup-upload-new-creative .history {
  margin-top: 20px;
}
.popup-upload-new-creative .history .content {
  margin-bottom: 0;
}
.popup-upload-new-creative .history .history-wrap {
  height: 100%;
}
.popup-upload-new-creative .multiple-image__article {
  margin-top: 20px;
  position: relative;
}
.popup-upload-new-creative .multiple-image__article table {
  width: 100%;
  display: block;
  font-size: 0;
}
.popup-upload-new-creative .multiple-image__article thead {
  width: 110px;
  float: left;
}
.popup-upload-new-creative .multiple-image__article thead tr {
  display: block;
}
.popup-upload-new-creative .multiple-image__article tbody {
  white-space: nowrap;
  display: block;
  overflow: hidden;
}
.popup-upload-new-creative .multiple-image__article tbody tr {
  counter-increment: count;
  display: inline-block;
  vertical-align: top;
  padding-left: 13px;
  width: 180px;
}
.popup-upload-new-creative .multiple-image__article tbody tr:first-child {
  text-indent: -9999em;
  padding-left: 0;
}
.popup-upload-new-creative .multiple-image__article tbody tr .image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  position: relative;
  border: 1px solid #c6c6c6;
  margin: 0 auto;
}
.popup-upload-new-creative .multiple-image__article tbody tr .image img {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.popup-upload-new-creative .multiple-image__article tbody tr .image._error {
  border: 1px solid #ff8a8a;
}
.popup-upload-new-creative .multiple-image__article tbody tr .image._selected {
  cursor: pointer;
}
.popup-upload-new-creative .multiple-image__article tbody tr .image .btn-delete {
  overflow: hidden;
  text-indent: -9999px;
  background-image: url(../images/vingle/btn_delete_313131_13x13.png);
  opacity: 0.5;
  width: 14px;
  height: 14px;
  position: absolute;
  right: -17px;
  top: 0;
}
.popup-upload-new-creative .multiple-image__article tbody tr .image .btn-delete:hover, .popup-upload-new-creative .multiple-image__article tbody tr .image .btn-delete:focus {
  opacity: 1;
}
.popup-upload-new-creative .multiple-image__article tbody tr .image:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: counter(count);
  background-color: #c7c7c7;
  width: 16px;
  height: 16px;
  color: #ffffff;
  display: block;
  overflow: hidden;
  line-height: 16px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
}
.popup-upload-new-creative .multiple-image__article th,
.popup-upload-new-creative .multiple-image__article td {
  display: block;
  font-size: 13px;
  padding-bottom: 6px;
  text-align: left;
  vertical-align: middle;
}
.popup-upload-new-creative .multiple-image__article th:first-child,
.popup-upload-new-creative .multiple-image__article td:first-child {
  line-height: 60px;
  height: 60px;
}
.popup-upload-new-creative .multiple-image__article th.landing-type__article,
.popup-upload-new-creative .multiple-image__article td.landing-type__article {
  height: 56px;
}
.popup-upload-new-creative .multiple-image__article th.landing-title__article,
.popup-upload-new-creative .multiple-image__article td.landing-title__article {
  height: 86px;
}
.popup-upload-new-creative .multiple-image__article th.landing-title__article .landing-title__wrap .main-only,
.popup-upload-new-creative .multiple-image__article td.landing-title__article .landing-title__wrap .main-only {
  height: 56px;
}
.popup-upload-new-creative .multiple-image__article th.landing-title__article .landing-title__wrap .main-only textarea,
.popup-upload-new-creative .multiple-image__article td.landing-title__article .landing-title__wrap .main-only textarea {
  height: 100%;
}
.popup-upload-new-creative .multiple-image__article th.landing-title__article .landing-title__wrap .main-sub .main,
.popup-upload-new-creative .multiple-image__article td.landing-title__article .landing-title__wrap .main-sub .main {
  padding-bottom: 6px;
}
.popup-upload-new-creative .multiple-image__article th.landing-title__article .landing-title__wrap .main-sub .sub .max-length,
.popup-upload-new-creative .multiple-image__article td.landing-title__article .landing-title__wrap .main-sub .sub .max-length {
  bottom: -3px;
}
.popup-upload-new-creative .multiple-image__article .apply-all {
  margin-left: 110px;
}
.popup-upload-new-creative .multiple-image__article .apply-all label {
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  height: 25px;
  line-height: 25px;
}
.popup-upload-new-creative .multiple-image__article .apply-all label:before, .popup-upload-new-creative .multiple-image__article .apply-all label:after {
  background-repeat: no-repeat;
}
.popup-upload-new-creative .multiple-image__article .apply-all label:nth-of-type(1) {
  margin-left: 0;
}
.popup-upload-new-creative .multiple-image__article .apply-all input[type='checkbox'],
.popup-upload-new-creative .multiple-image__article .apply-all input[type='radio'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.popup-upload-new-creative .multiple-image__article .apply-all input[type='checkbox']:checked + label:after,
.popup-upload-new-creative .multiple-image__article .apply-all input[type='radio']:checked + label:after {
  background-image: url(../images/vingle/icon_check_313131_13x10.png);
}
.popup-upload-new-creative .multiple-image__article .apply-all input[type='checkbox']:disabled:checked + label:after,
.popup-upload-new-creative .multiple-image__article .apply-all input[type='radio']:disabled:checked + label:after {
  background-image: url(../images/vingle/icon_check_aaaaaa_13x10.png);
}
.popup-upload-new-creative .multiple-image__article .apply-all input[type='checkbox'] + label,
.popup-upload-new-creative .multiple-image__article .apply-all input[type='radio'] + label {
  position: relative;
  padding-left: 25px;
}
.popup-upload-new-creative .multiple-image__article .apply-all input[type='checkbox'] + label:before,
.popup-upload-new-creative .multiple-image__article .apply-all input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  vertical-align: top;
  left: 0;
}
.popup-upload-new-creative .multiple-image__article .apply-all input[type='checkbox'] + label:after,
.popup-upload-new-creative .multiple-image__article .apply-all input[type='radio'] + label:after {
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 13px;
  left: 1px;
  top: 5px;
}
.popup-upload-new-creative .multiple-image__article .apply-all input[type='checkbox']:disabled + label:before {
  background-image: url(../images/vingle/bg_checkbox--disabled_e7e7e7_11x12.png);
  height: 11px;
  width: 11px;
}
.popup-upload-new-creative .multiple-image__article .apply-all input[type='checkbox'] + label:before {
  background-image: url(../images/vingle/bg_checkbox_bcbcbc_11x11.png);
  height: 11px;
  width: 11px;
}
.popup-upload-new-creative .multiple-image__article .apply-all input[type='radio'] + label:before {
  background-image: url(../images/vingle/bg_radio_bcbcbc_13x13.png);
  height: 13px;
  width: 13px;
}
.popup-upload-new-creative .multiple-image__article .apply-all .fa-info-circle:before {
  line-height: 24px;
}
.popup-upload-new-creative .multiple-image__article .btn-next,
.popup-upload-new-creative .multiple-image__article .btn-prev {
  overflow: hidden;
  text-indent: -9999px;
  position: absolute;
  top: 45px;
  width: 16px;
  height: 24px;
}
.popup-upload-new-creative .multiple-image__article .btn-next {
  background-image: url(../images/vingle/btn_next-ababab-16x24.png);
  right: 0;
}
.popup-upload-new-creative .multiple-image__article .btn-prev {
  background-image: url(../images/vingle/btn_prev-ababab-16x24.png);
  left: 110px;
}

/*# sourceMappingURL=popup.css.map */
