@import 'utils/_variable';
@import 'utils/_mixin';
@import 'vendor/_parsley-theme';
/*login * error message */
body {
  font-size: 12px;
}
body,
button,
input,
textarea {
  font-family: 'Roboto Condensed','Nanum Barun Gothic', '맑은 고딕', sans-serif;
  color:$base-color;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
button:focus {
  outline: 0 none;
}
input[type='text'],
input[type='password'],
input[type='number'] {
  @include box-sizing();
  background-color: #fff;
  border: 1px solid $border-input;
  line-height: 23px;
  height: 25px;
  padding: 0 8px;
  &:focus {
    outline: 0 none;
    border: 1px solid $border-focus;
  }
}

body{
  background-color: $login-bg;
  .login,
  .error{
    padding-top: 135px;
    position: absolute;
    @include center();
    background:  url(#{$imgPath}/bg_login_ffffff_214x76.png) 50% 0 no-repeat;
  }
  .error__content,
  .login-content{
    @include box-sizing();
    width: 490px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    padding: 10px 10px 20px;
    z-index: 100;

  }
  .error__header,
  .login__header {
    height: 45px;
    .title {
      color: #ffffff;
      font-size: 17px;
      line-height: 45px;
     
    }
  }
  .error__header{
    background-color: $errorHeader-bg;
    .title{
      padding: 0 15px;
    }
  }
  .login__header{
    background-color: $loginHeader-bg;
    .title{
      padding: 0 20px;
    }
  }
  .login__container {
    padding: 55px 45px;
    font-size: 15px;
    table{
      width:100%;
      caption{
        display: none;
      }
      th{
        text-align: left;
        width:80px;
      }
      input[type="text"],
      input[type="password"]{
        width:100%;
      }
      .id__tr{
        td{
          padding-bottom: 6px;
        }
      }
    }
  }
  .error__container{
    padding:35px 40px 30px;
    font-size: 15px;
    p{
      margin-bottom: 20px;
    }
    ul{
      li{
        line-height: 22px;
        list-style:none;
        &:before{
          content:'\2022';
          color: $error-disc;
          display: inline-block;
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }
  }
  .login__footer{
    position: relative;
      .tooltip{
        position: absolute;
        top:-19px;
        left:131px;
      }
  }
  .error__footer,
  .login__footer {
    border-top: 2px solid $boxFooter-border;
    padding-top: 20px;
    text-align: center;

    [data-type='success'] {
      border: 0 none;
      padding: 0;
      @include button-style(100, 25, 15, $btn-success);
    }
    .btn-return {
        width:200px;
    }
  }
}
