
@import 'utils/_variable';
@import 'utils/_mixin';
@import 'utils/_extend';

// Account - Agency - Pending Review 이외 일 때

.popup-view-agency{
   @extend %popup-double-width;
   .popup__container[data-layout]{
      padding-bottom: 15px;
   }
   .information{
      @include popup-table-default();
      .agency-status{
         @extend %status-icon;
         font-size: 13px;
         line-height: 20px;
         .content{
            @include clearfix();
            padding: 20px 0 13px;
         }
         .approved-status{
            position: relative;
            float: left;
            span{
               @include ellipsis();
               @include box-sizing();
               width:290px;
               height: 20px;
               margin-left: 25px;
               display: inline-block;
               &:before{
                  position: absolute;
                  top:5px;
                  left:10px;
               }

            }
         }
         .button__wrap{
            width:100px;
            float:right;
            button{
               float: right;
               @include button-style(90,20,11);
               display: block;
               margin-bottom: 7px;
               margin-right:10px;
            }
         }
      }
      .agency-info,
      .manager-info{
         .content{
            padding-bottom: 20px;
         }
      }

      .contract-period__tr{
         input[data-type='date']{
            width:200px;
         }
         .end-date{
            margin-top: 7px;
            display: block;
         }
      }
      .license__tr{
         li{
            line-height: 17px;
         }
      }
   }
   .record{
      .service,
      .commission{
         .content{
            padding: 20px 0;
         }
         th{
            font-size: 14px;
         }
      }
      .service{
         table{
            width:100%;
         }
         .button__wrap{
            float: right;
            padding-right:10px;
            button{
               @include button-style(90,20,11,$btn-default)
            }
         }
         td{
            line-height:21px;
            span{
               &:first-child{
                  @include ellipsis();
                  display: inline-block;
                  width:95px;
                  height: 21px;
               }
            }
         }
         th{
            padding-left: 10px;
            vertical-align: top;
            line-height: 20px;
            width:135px;
            text-align: left;
         }
      }
      .commission{
         .commission__tr{
            th,
            td{
               padding-bottom:20px;
            }
         }
         table{
            td{
               .modify-show {
                  .limit-text{
                     display: block;
                     margin-left: 0;
                  }
                  input[type='radio'] {
                     & + label {
                        padding-left: 0;
                        &:before,
                        &:after {
                           width: 0;
                           height: 0;
                        }

                     }
                  }
               }
            }
         }
         .commission__tr{
            td{
               line-height: 25px;
            }
         }
         input[type="text"] {
            margin-right: 5px;
         }
         .limit-input,
         .limit-text{
            margin-left: 15px;
            vertical-align: top;
            line-height: 25px;
         }
      }
   }
}

//Account - Agency - Pending Review 이외 일 때 - Service Button

.popup-add-service,
.popup-service-remaining{
   @extend %popup-default-width;
   .info{
      font-size: 15px;
      margin : {
         top:25px;
         bottom:10px;
      }
      .amount{
         color:$font-highlighter;
      }
   }
}
.popup-add-service{
   .add-service{
      margin-top: 35px;
   }
   .add-service__title{
      display: inline-block;
      width:95px;
      font-size: 15px;
   }
   input[type="text"]{
      width:90px;
   }
}
.popup-service-remaining{
   .history{
      .history-wrap{
         max-height: 348px;
      }
      li{
         padding-left:20px;
      }
   }
}

// Account - Agency - Pending Review 일 때

.popup-approve-agency-account{
   @include popup-table-default();
   @extend %popup-default-width;
   .agency-info,
   .manager-info{
      .content{
         padding-bottom: 20px;
      }
   }
}

//Account - Agency - Peding Review  승인 시

.popup-set-commission{
   @extend %popup-default-width;
   .popup__container{
      padding:55px 30px;
      .commission__tr{
         th,
         td{
            padding-bottom:10px;
         }
      }
      th{
         font-size: 15px;
      }
   }
}

//Account - Pending Review 비승인 시

.popup-disapprove-creative,
.popup-disapprove-advertiser-account,
.popup-disapprove-agency-account{
   @extend %popup-default-width;
   .popup__container{
      padding:35px 30px;
      textarea{
         height: 120px;
         margin-top:10px;
      }
   }
}

//Account - SubAgency - Pending Review 일 때

.popup-sub-agency-account-info{
   @include popup-table-default();
   @extend %popup-default-width;
   .popup__container{
      margin-bottom:-20px;
      .agency-info{
         .content{
            padding-bottom:15px;
         }
         .add-advertiser__tr{
            ul{
               min-height: 25px;;
            }
         }
      }
      .employment-certificate__tr{
         td{
            padding: 3px 0;
            li{
               line-height: 20px;
            }
         }
      };
   }
   .popup__footer{
      margin-top:30px;
   }
}

//Account - SubAgency - Pending Review 이외 일 때

.popup-view-sub-agency{
   @extend %popup-double-width;
   .popup__container[data-layout]{
      padding-bottom: 10px;
   }
   .information{
      @include popup-table-default();
      .sub-agency-status{
         @extend %status-icon;
         font-size: 13px;
         line-height: 20px;
         .content{
            @include clearfix();
            padding: 20px 0 13px;
         }
         .approved-status{
            position: relative;
            width:100%;
            &._admin{
               float:left;
               width:320px;
               span{
                  width:100%;
               }
            }
            span{
               @include box-sizing();
               @include ellipsis();
               width: 405px;
               height: 20px;
               margin-left: 25px;
               display: inline-block;
               &:before{
                  position: absolute;
                  top:5px;
                  left:10px;
               }
            }
         }
         .button__wrap{
            width:100px;
            float:right;
            margin-right: 10px;
            button{
               float: right;
               @include button-style(90,20,11);
               display: block;
               margin-bottom: 7px;
            }
         }
      }
      .add-advertiser__tr{
         .advertiser__list{
            padding-top: 5px;
         }
         input[type="text"]{
            width:100%;
         }
         ul{
            padding-bottom:15px;
            min-height:25px;
         }
         .modify-hide{
            ul{
               min-height:0;
            }
         }
      }
      .employment-certificate__tr{
         .modify-hide{
            .file__list{
               margin-top: 5px;
            }
         }
         .file__list{
            li{
               a{
                  max-width:91%;
                  width:auto;
                  padding-right: 0;
               }
               .btn-delete{
                  margin-left: 0;
                  vertical-align: middle;
               }
            }
         }
      }
      .manager-info__table{
         input[type="text"]{
            width:100%;
         }
      }
   }
   .history{
      .content{
         margin-bottom: 0;
      }
   }
}

// Account - Advertiser - add App
// Account - Change Password

.popup-add-app,
.popup-change-password{
   @extend %popup-default-width;
   tr{
      &:first-child{
         th,td{
            padding-top: 0;
         }
      }
   }
   th,td{
      padding-top: 10px;
   }
   th{
      width:165px;
      text-align: left;
      font-size: 15px;
      font-weight: 700;
   }
   td{
      width:335px;
      input[type="text"],
      input[type="password"]{
         width:100%;
      }
   }
}

//Account - Advertiser - Pending Review 일 때

.popup-view-advertiser,
.popup-approve-advertiser-account{
   .advertiser-info{
      @include popup-table-default();
   }
   .link__tr{
      .select-type{
         display: inline-block;
         padding-right:5px;
         a{
            @include ellipsis();
            display: inline-block;
            vertical-align: top;
         }
      }
   }
   .band-profile__tr{
      .band-name{
         width:168px;
      }
   }
   .app-url__tr{
      td{
         .modify-hide{
            .btn-add{
               @include button-style(55,20,12,$btn-default);
               &+ul{
                  li{
                     &:first-child{
                        margin-top:5px;
                     }
                  }
               }
            }
         }
      }
   }
}
.popup-approve-advertiser-account{
   @extend %popup-default-width;
   .link__tr{
      a{
         max-width:230px;
      }
   }
}

//Account -Advertiser - Peding Review 가 아닐때

.popup-view-advertiser,
.popup-add-advertiser{
   .link__tr{
      @include custom-input();
      input[type="text"],
      input[type="url"]{
         @include box-sizing();
      }
      a{
         @include ellipsis();
         display: inline-block;
         max-width:180px;
         vertical-align: top;
      }
      .linked-yes,
      .linked-no{
         @include clearfix();
      }
      .linked-yes{
         .btn-ok{
            vertical-align: middle;
            @include button-style(55, 20, 11, $btn-default);
         }
         li{
            margin-top: 0;
            a{
               width:93%;
            }
         }
         .search-name{
            font-size:0;
         }
      }
      .linked-no{
         @include clearfix();
         .select-type{
            height: 30px;
         }

         input[type="text"]{
            width:100%;
         }
      }
      .modify-show{
         p{
            max-width:25px;
            padding-right: 5px;
            display: inline-block;
         }
      }
   }
   .roles__tr{
      @include custom-input();
      label{
         margin-left: 0;
      }
   }
   .corporate-license__tr{
      .file__list{
         a[download]{
            padding-right: 0;
            max-width:92%;
            width:auto;
         }
         button{
            margin-left: 0;
            vertical-align: middle;
         }
      }
   }
   .registration-number__tr{
      input[type="text"]{
         width:100%;
      }
   }
   .name__tr{
      .btn-check {
         @include button-style(55, 20, 11, $btn-default);
         margin-left: 10px;
      }
   }
}
.popup-view-advertiser{
   @extend %popup-double-width;
   .information{
      .advertiser-status{
         @extend %status-icon;
         font-size: 13px;
         line-height: 20px;
         .approved-status{
            margin-left: 10px;
            padding: 0 10px;
            padding-left:20px;
            position: relative;
            &._admin{
               span{
                  width:305px;
               }
               .btn-disapprove{
                  float: right;
                  @include button-style(90,20,12);
                  display: block;
               }
            }
            span{
               display: inline-block;
               width:100%;
               height: 20px;
               @include ellipsis();
               &:before{
                  position: absolute;
                  top:5px;
                  left:0;
               }
            }
         }
         .btn-disapprove{
            display: none;
         }
         .content{
            padding: 17px 0;
         }
      }
      .roles__tr{
         label{
            margin-left: 0;
         }
      }
      .name__tr{
         input[type="text"]{
            width:142px;
         }
         ._success,
         ._error{
            line-height:25px;
         }
      }
      .link__tr{
         .linked-yes{
            .btn-ok{
               margin-left: 2px;
            }
            input[type="text"]{
               width:150px;
            }
         }
      }
      .band-profile__tr{
         .modify-show{
            .band-profile{
               &+p{
                  display: inline-block;
                  width:165px;
               }
            }
         }
      }
      .app-url__tr{
         .btn-add{
            @include button-style(60,20,12,$btn-default)
         }
      }
      .corporate-license__tr{
         ._success{
            &+.file__list{
               li{
                  &:first-child{
                     margin-top:5px;
                  }
               }
            }
         }
      }
   }
}

// Account - view Approval Manager

.popup-view-approval-manager{
   @include popup-table-default(210);
   @extend %popup-default-width;
   &.popup{
      .popup__container{
         padding-bottom:5px;
      }
   };
   .status__tr{
      td{
         p{
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
         }
      }
      .btn-status{
         @include button-style(90,20,11);
      }
   };
   .password__tr{
      td{
         padding-bottom: 30px;
      }
      p{
         font-size: 16px;
         line-height: 25px;
         padding-bottom: 5px;
      }
      .btn-change-password{
         @include button-style(127,20,11,$btn-default);
      }
   }
   .manager-info{
      input[type="text"]{
         width:100%;
      }
   }
}

// Account - Add Accounts

.popup-add-approval-manager,
.popup-add-sub-agency,
.popup-add-advertiser{
   @extend %popup-default-width;
   .account__tbody {
      td {
         .btn-check {
            @include button-style(55, 20, 11, $btn-default);
            margin-left: 10px;
         }
      }
   }
}
.popup-add-approval-manager,
.popup-add-sub-agency{
   .account__tbody {
      td{
         input[type="text"],
         input[type="password"]{
            width: 209px;
            font-size: 13px;
         }
      }
      .confirm-password__tr {
         th,
         td {
            padding-bottom: 20px;
         }
      }
   }
   .manager__tbody{
      input[type="text"]{
         width:100%;
      }
      .name__tr{
         th,
         td{
            padding-top: 20px;
            border-top: 1px solid #dadada;
         }
      }
   }
}
.popup-add-approval-manager{
   @include popup-table-default();
   table{
      th{
         width:165px;
         min-width:165px;
      }
   }
}
.popup-add-sub-agency{
   @include popup-table-default(165);
   @extend %popup-default-width;
   table{
      .sub-agency__tbody{
         .name__tr{
            th,
            td{
               padding-top: 20px;
               border-top: 1px solid #dadada;
            }
            td{
               input[type="text"]{
                  width: 209px;
                  font-size: 13px;
               }
               .btn-check {
                  @include button-style(55, 20, 11,$btn-default);
                  margin-left: 10px;
               }
            }
         }
         .add-advertiser__tr{
            th,
            td{
               padding-bottom: 20px;
            }
            .advertiser__list{
               padding-top: 5px;
               span{
                  width:288px;
               }
            }
         }
      }
      .file__list{
         margin-top: 5px;
         li{
            a[download]{
               max-width: 93%;
               padding-right: 0;
            }
            .btn-delete{
               margin-left: 0;
            }
         }
      }
   }
}
.popup-add-advertiser {
   @include popup-table-default();
   .account__tbody{
      td{
         input[type="text"],
         input[type="password"]{
            width:164px;
         }
         ::-webkit-input-placeholder {
            font-size:12px;
         }
         ::-moz-placeholder {
            font-size:12px;
         } /* firefox 19+ */
         :-ms-input-placeholder {
            font-size:12px;
         } /* ie */
         input:-moz-placeholder {
            font-size:12px;
         }
      }
      .roles__tr{
         th,
         td {
            padding-bottom: 20px;
         }
         td{
            input{
               &:first-child{
                  &+label{
                     margin-right: 15px;
                  }
               }
            }
         }
      }
   }
   .advertiser__tbody{
      .name__tr{
         input[type="text"]{
            width:164px
         }
         th,
         td{
            padding-top: 20px;
            border-top:1px solid #dadada;
         }
      }
      .band-profile__tr{
         input[type="url"],
         input[type="text"]{
            width:100%;
         }
         .band-name{
            width:248px;
         }
      }
      .link__tr{
         .linked-yes{
            .btn-ok{
               margin-left: 10px;
            }
            input[type="text"]{
               width:225px;
            }
         }
      }
      .app-url__tr{
         .btn-add{
            @include button-style(55,20,12,$btn-default);
            &+ul{
               li{
                  &:first-child{
                     margin-top:5px;
                  }
               }
            }
         }
      }
      .corporate-license__tr{
         .file__list{
            margin-top: 5px;
         }
      }
   }
}

// Creative - Approve Creative (Pending Review 아닐때 )

.popup-view-creative-admin{
   @extend %popup-double-width;
   .popup__container[data-layout]{
      padding-bottom: 0;
   }
   .information{
      .content{
         padding: 17px 0;
      }
      .btn-disapprove{
         @include button-style(98,20,12);
         float:right;
         margin-right: 10px;
      }
      .creative-status{
         @extend %status-icon;
         font-size: 13px;
         line-height: 20px;
         .approved-status{
            position: relative;
            padding-left: 25px;
         }
         span{
            @include ellipsis();
            width:300px;
            display: inline-block;
            height: 20px;
            &:before{
               position: absolute;
               top:6px;
               left:10px;
            }
         }
      }
      .creative-information{
         @include popup-table-default(145);
         .content{
            padding-bottom: 20px;
         }
      }
      .creative{
         .content{
            position: relative;
            height: 650px;
         }
         .preview-phone{
            height:543px;
         }
         p{
            font-size: 14px;
            font-weight: 700;
         }
         .feed-text{
            font-size:11px;
            font-weight:400;
         }
      }
   }
}

// Creative - Approve Creative (Pending Review상태)

.popup-view-creative,
.popup-approve-creative{
   @extend %popup-default-width;
   @include popup-table-default(140);
   .information{
      .content{
         padding-bottom: 20px;
      }
   }
}
.popup-approve-creative{
   .creative{
      p{
         font-size: 14px;
         font-weight: 700;
      }
      .title{
         position: relative;
         .set{
            font-size: 12px;
            position: absolute;
            right:10px;
            vertical-align: middle;
            .select2{
               margin-right: 3px;
            }
            select{
               width:40px;
            }
         }
      }
      .text{
         div{
            max-height: 120px;
            overflow-y: auto;
         }
         pre{
            width:100%;
            white-space: pre-line;
            line-height: 15px;
            word-wrap: break-word;
            word-break: break-all;
            margin:{
               top:10px;
               bottom:10px;
            }
         }
         textarea{
            height: 144px;
            margin:{
               top:12px;
               bottom:20px;
            }
         }
      }
      .image,
      .video{
         p{
            padding-bottom: 10px;
         }
      }
      .video{
         .btn-play{
            @include button-style(70,20,12);
            float: right;
         }
      }
      .landing{
         padding-top: 20px;
         p{
            display: inline-block;
            width:50px;
         }
         span{
            display: inline-block;
            word-break: break-all;
            vertical-align: top;
            max-width:425px;
         }
      }
      .landing-title{
         margin-top: 15px;
         word-break:break-all;
         .main-only,
         .main-sub{
            padding-top: 10px;
            line-height: 15px;
         }
         .main-sub{
            @include clearfix();
            .sub,
            .main{
               width:45%;
            }
            .main{
               float: left;
            }
            .sub{
               float: right;
            }
            p{
               span,
               strong{
                  vertical-align: middle;
               }
               span{
                  @include ellipsis();
                  font-weight: 400;
                  font-size: 12px;
                  margin-left: 10px;
                  height: 15px;
                  display: inline-block;
                  width:80%;
               }
            }
         }
      }
   }
}

// Creative(Agency) - Preivew

.popup-view-creative{
   .popup__container{
      position: relative;
   }
   .btn-campaign{
      @include button-style(110,20,12);
      position: absolute;
      right:30px;
      top:7px;
   }
   .creative{
      height: 660px;
      .feed-text{
         font-size: 11px;
         font-weight:400;;
      }
      .content{
         padding-top:0;
      }
   }
}

// Campaign - Budget, Edit Audience

.popup-create-new-audience,
.popup-add-new-audience,
.popup-edit-audience {
   @extend %popup-campaign-width;
   @include popup-table-default(120, 5);
   .edit-budget__table {
      margin-bottom: 25px;
      .audience-name__tr{
         input[type="text"]{
            width:285px;
         }
      }
      .budget__tr,
      .bid__tr {
         select,
         input[type="text"] {
            width: 138px;
         }
      }
      .bid__tr {
         input[type="text"] {
            margin-left: 6px;
         }
      }
   }
   .edit-audience__table {
      position: relative;
      .age__tr,
      .gender__tr {
         select{
            width:65px;
         }
         .unknown {
            @include custom-input();
            padding-left: 10px;
            input[type="checkbox"] {
               & + label {
                  padding-left: 15px;
               }
            }
         }
      }
      .gender__tr,
      .device__tr{
         select {
            width: 138px;
         }
      }
      .device__tr {
         .device__select {
            width: 138px;
         }
         .url {
            padding-top: 10px;
            .url__select {
               width: 100%;
            }
         }
      }
      .potential-reach {
         position: absolute;
         right: 0;
         top: 0;
         width: 200px;
         .title {
            margin-bottom: 10px;
            background: #eaeaea;
            border-bottom: 3px solid #f1f1f1;
         }
         .info {
            padding-left: 10px;
            span {
               font-size: 15px;
               color: $font-highlighter;
               font-weight: 700;
            }
         }
      }
   }
}

// Campaign - Choose Audience

.popup-add-new-creative{
   @extend %popup-campaign-width;
   .choose-audience__list{
      @include custom-input();
      margin-top: 10px;
      height: 152px;
      overflow-y: auto;
      overflow-x: hidden;;
      border:1px solid #c6c6c6;
      &._error{
         border: 1px solid $warning-color;
      }
      li{
         @include box-sizing();
         cursor:pointer;
         line-height: 29px;
      }
      input[type="checkbox"]{
         &+label{
            vertical-align: middle;
            padding:{
               right:10px;
               left:33px;
            }
            span{
               @include ellipsis();
               display: inline-block;
               height: 25px;
               width: 650px;
            }
            &:before,
            &:after{
               left:10px;
            }
         }
      }

   }
}

// Campaign - Creative-content-wrap(Choose Creative, Preview)

.popup-add-new-audience,
.popup-add-new-creative{
   .creative-content-wrap{
      @include clearfix();
      display: table;
      position: relative;
      width: 100%;
      margin-top:20px;
      .choose-creative{
         display: table-cell;
         .create-new-content{
            margin:{
               top:5px;
               bottom:5px;
               left:10px;
            }
            position: relative;
            .create-new-list{
               margin-left:70px;
            }
         }
         .creative-library{
            padding: 0 10px;
            p{
               padding-top:5px;
               padding-bottom:3px;
               font-size: 14px;
            }
         }
         .creative-library__scroll {
            height: 490px;
            margin-top: 5px;
            padding: 5px;
            p{
               font-size: 14px;
            }
            .image-select__list {
               li{
                  margin:{
                     left:7px;
                     top:7px;
                  }
               }
            }
         }
      }
      .preview{
         .preview-content {
            top:40px;
            right:0;
            padding-top: 30px;
            &:after {
               bottom: -6px;
            }
         }
         .preview-page{
            position: relative;
            padding:10px 0;
            overflow:hidden;
            .preview-phone{
               margin-top:14px;
            }
         }
      }
   }
}

//Campaign - Upload New Creative, view Creative

.popup-upload-new-creative{
   @extend %popup-campaign-width;
   .upload-new-creative__tab{
      @include tab-menu(160,20,13);
      ._active{
         a{
            background-color: $bg-tabActive;
         }
      }
   }
   .content__tab{
      padding: 0 10px;
      p{
         font-size: 15px;
         font-weight: 700;
         line-height: 25px;
         .info{
            font-weight: 400;
            font-size: 13px;
            color: #bbb;
            padding-left: 10px;
         }
      }
      .max-length{
         font-size: 11px;
         color:rgba(49,49,49,0.5);
         position: absolute;
         bottom:3px;
         right:4px;
         &._over{
            color:$warning-color;
         }
      }
   }
   .single-image__section,
   .video__section{
      .landing-type__article,
      .landing-title__article,
      .call-to-action__article {
         p {
            display: inline-block;
            vertical-align: top;
            width: 95px;
            float: left;
         }
      }
      .landing-type__article,
      .landing-title__article{
         padding-top: 20px;

      }
      .landing-type__article{
         .type__wrap{
            margin-left: 95px;
         }
      }
      .landing-title__article{
         .landing-title__wrap{
            margin-left: 95px;
            .main{
               float: left;
            }
            .sub{
               float: right;
            }
         }
      }
      .main-sub{
         .main,
         .sub {
            width: 48%;
         }
      }
   }
   .choose__article{
      @include custom-input();
      padding-top: 20px;
      .select-create,
      .existing-post{
         display: inline-block;
      }
      .select-create{
         width:230px;
         vertical-align: top;
         label{
            font-size: 16px;
         }
      }
      .existing-post{
         width:445px;
      }
   }
   .creative-type__article{
      padding-top: 20px;
      p{
         display: inline-block;
         width:95px;
      }
   }
   .text__article{
      position: relative;
      padding-top: 20px;
      font-size:0;
      textarea{
         height: 120px;
         max-height: 120px;
      }
   }
   .image__article{
      padding-top: 20px;
      button[data-type="upload"]{
         width:85px;
         float:right;
      }
      .creative-library__scroll{
         height: 215px;
         .image-select__list{
            padding:5px;
            li{
               margin:{
                  top:4px;
                  left:4px;
               }
            }
         }
      }
   }
   .video-thumbnails__article {
      margin-top: 20px;
      .video-thumbnails__box {
         font-size: 0;
         li {
            @include box-sizing();
            background-color: #f1f1f1;
            border: 1px solid #c9c9c9;
            display: inline-block;
            vertical-align: top;
            position: relative;
            height: 41px;
            width: 8.18%;
            margin-left: 1%;
            cursor: pointer;
            img {
               @include center();
               max-width: 100%;
               max-height: 100%;
            }
            &:first-child{
               margin-left: 0;
            }
            &._active{
               &:before{
                  content:"";
                  height: 100%;
                  width:100%;
                  position: absolute;
                  left:0;
                  top:0;
                  background-color: $dim;
                  z-index: 5;
               }
            }
            &.custom-image {
               border: 3px solid #e4e4e4;
               background: url(#{$imgPath}/btn_add_ababab_10x10.png) no-repeat 50% 30% #fff;
               &:after {
                  content: 'Custom';
                  font-size: 11px;
                  position: absolute;
                  left:8px;
                  top:21px;
               }
            }
         }
      }
   }
   .landing-type__article,
   .landing-title__article,
   .call-to-action__article{
      input[type="text"]{
         width:100%;
      }
   }
   .landing-type__article {
      .type__selected{
         margin-bottom: 6px;
      }
      .type__wrap {
         @include custom-input();
      }
   }
   .landing-title__article{
      .landing-title__selected{
         margin-bottom: 6px;
      }
      .main-only,
      .main-sub{
         @include clearfix();
      }
      .main-only{
         position: relative;
      }
      .main-sub{
         .main,
         .sub{
            position: relative;
            label{
               position: absolute;
               font-size:0;
               width:0;
               height: 0;
            }
         }
      }
   }
   .call-to-action__article {
      margin-top: 20px;
   }
   .history{
      margin-top:20px;
      .content{
         margin-bottom:0;
      }
      .history-wrap{
         height: 100%;
      }
   }



   .multiple-image__article {
      margin-top: 20px;
      position: relative;
      table {
         width: 100%;
         display: block;
         font-size: 0;
      }
      thead {
         width: 110px;
         float:left;
         tr {
            display: block;
         }
      }
      tbody {
         white-space: nowrap;
         display: block;
         overflow: hidden;
         tr {
            counter-increment: count;
            display: inline-block;
            vertical-align: top;
            padding-left: 13px;
            width:180px;
            &:first-child {
               text-indent: -9999em;
               padding-left: 0;
            }
            .image {
               @include box-sizing();
               width: 60px;
               height: 60px;
               position: relative;
               border: 1px solid #c6c6c6;
               margin: 0 auto;
               img{
                  @include center();
                  max-width:100%;
                  max-height:100%;
               }
               &._error{
                  border:1px solid $warning-color;
               }
               &._selected{
                  cursor: pointer;
               }
               .btn-delete{
                  @include screen-out();
                  background-image: url(#{$imgPath}/btn_delete_313131_13x13.png);
                  opacity: 0.5;
                  width:14px;
                  height: 14px;
                  position: absolute;
                  right:-17px;
                  top: 0;
                  &:hover,
                  &:focus{
                     opacity: 1;
                  }
               }
               &:before {
                  @include border-radius(50%);
                  content: counter(count);
                  background-color: #c7c7c7;
                  width: 16px;
                  height: 16px;
                  color: #ffffff;
                  display: block;
                  overflow: hidden;
                  line-height: 16px;
                  text-align: center;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  margin:{
                     left:-8px;
                     top:-8px;
                  }
               }
            }
         }
      }
      th,
      td {
         display: block;
         font-size: 13px;
         padding-bottom: 6px;
         text-align: left;
         vertical-align: middle;
         &:first-child {
            line-height: 60px;
            height: 60px;
         }
         &.landing-type__article{
            height: 56px;
         }
         &.landing-title__article{
            height: 86px;
            .landing-title__wrap{
               .main-only{
                  height: 56px;
                  textarea{
                     height: 100%;
                  }
               }
               .main-sub{
                  .main{
                     padding-bottom: 6px;
                  }
                  .sub{
                     .max-length{
                        bottom:-3px;
                     }
                  }
               }
            }
         }
      }
      .apply-all {
         @include custom-input();
         margin-left: 110px;
         .fa-info-circle{
            &:before{
               line-height: 24px;
            }
         }
      }
      .btn-next,
      .btn-prev{
         @include screen-out();
         position: absolute;
         top:45px;
         width:16px;
         height: 24px;
      }
      .btn-next{
         background-image: url(#{$imgPath}/btn_next-ababab-16x24.png);
         right:0;
      }
      .btn-prev{
         background-image: url(#{$imgPath}/btn_prev-ababab-16x24.png);
         left:110px;
      }
   }

}
