@charset 'UTF-8';

@import 'utils/_variable';
@import 'utils/_mixin';
@import 'utils/_extend';
@import 'base/_initial';
@import 'layout/_layout';

@import 'components/_correct';
@import 'components/_fileload';
@import 'components/_loading';
@import 'components/_timezone';
@import 'components/_preview';
@import 'components/_history';
@import 'components/_band-profile';
@import 'components/_industry';
@import 'components/_list-style';
@import 'components/_image-area';
@import 'components/_image-select';
@import 'components/_create-new';

@import 'vendor/_select2-theme';
@import 'vendor/_parsley-theme';
@import 'vendor/_datepicker-theme';
@import 'vendor/_highcharts-theme';

// ===============================
// DashBoard Style
// ===============================

// Dashborard - top,bottom table

.inventory-status,
.campaign-budget-status,
.creative-approval-status,
.agency-credit-status {
    .content {
        position: relative;
        padding-top:40px;
    }
    .btn-export,
    .info {
        position: absolute;
        top: 15px;
    }
    .info {
        color:$font-info;
        font-size: 13px;
    }
    .btn-detail {
        @include button-style(90,20,12);
        position: absolute;
        right: 35px;
        top: 10px;
    }
}
.inventory-status {
    .content {
        .filter__table {
            padding-top: 10px;
            th,
            td {
                padding-bottom: 0;
            }
            th {
                width: 80px;
            }
        }
    }
    .inventory__table {
        @include table-default(40,60);
        margin-top: 15px;
        span {
            display: block;
            line-height: 17px;
        }
        .campaign-type {
            padding-left: 15px;
            text-align: left;
        }
        .total {
            color: $font-highlighter;
        }
    }
}

// Dashboard - requests

.credit-service-status,
.agency-advertiser-status,
.account-requests,
.creative-requests {
    .content {
        background : {
            position : left 35px top 30px;
            repeat : no-repeat;
        }
    }
    .btn-detail {
        @include button-style(90,20,12);
    }
}
.agency-advertiser-status,
.account-requests {
    .content {
        background-image: url(#{$imgPath}/bg_dashboard--account_e7e7e7_117x117.png);
    }
}
.creative-requests {
    .content {
        background-image: url(#{$imgPath}/bg_dashboard--creative_e7e7e7_117x117.png);
    }
}
.account-requests,
.creative-requests {
    .requests-wrap {
        margin-top: 15px;
        min-height: 117px;
        padding-left: 117px;
        text-align: center;
        .number {
            font-size: 50px;
            font-weight: 700;
        }
        .text {
            font-size: 13px;
            padding-bottom: 10px;
        }
    }
}
.account-requests {
    .advertiser-requests,
    .agency-requests {
        display: inline-block;
        width: 49%;
    }
    .requests-wrap {
        margin-left: 20px;
    }
    .agency-requests {
        border-right: 1px solid #dadada;
    }
}
.credit-service-status,
.agency-advertiser-status {
    .text {
        font-size: 13px;
        line-height: 20px;
    }
    .status-wrap {
        padding-left: 142px;
        .status-item {
            clear: both;
        }
        .service-status{
            clear:both
        }
    }
    .info {
        clear: both;
        padding: 5px 0;
    }
    &[data-type='sub'] {
        .status-wrap {
            padding-top: 8px;
            .title{
                display: none;
            }
        }
    }
    &[data-type='admin'] {
        .btn-detail {
            float: right;
        }
        .credit-status,
        .service-status,
        .sub-agency,
        .advertiser {
            height: 60px;
        }
    }
}
.credit-service-status {
    .content {
        background-image: url(#{$imgPath}/bg_dashboard--credit_e7e7e7_117x117.png);
    }
    .status {
        @include progress(#404040);
        font-size: 0;
        padding-top: 20px;
        position: relative;
        vertical-align: middle;
        .currentNumber {
            &:after {
                content: '%';
            }
        }
    }
    &[data-type='admin'] {
        .title {
            float: left;
            font-weight: 700;
            line-height: 20px;
            width: 88px;
        }
        .text,
        .status{
            float: right;
            width: 200px;
        }
        .status {
            clear: both;
            .ui-progressbar {
                height: 8px;
            }
            .currentNumber {
                font-weight: 400;
                top: 8px;
            }
        }
        .btn-detail {
            margin-top: 15px;
        }
    }
    &[data-type='sub'] {
        .status {
            width: 288px;
        }
        .credit-status {
            .text {
                height: 40px;
            }
            .btn-detail {
                margin-top: 20px;
            }
        }
    }
}
.agency-advertiser-status {
    .status-item {
        & > div {
            display: inline-block;
        }
    }
    &[data-type='admin'] {
        .status-item {
            padding-top: 6px;
            .number {
                display: inline-block;
                font-size: 20px;
                width: 20px;
            }
        }
        .info {
            font-size: 11px;
        }
        .text {
            float: left;
        }
        .advertiser {
            border-top: 1px solid #dcdcdc;
            padding-top: 10px;
        }
        .status-item {
            & > div {
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    &[data-type='sub'] {
        .text {
            float: left;
            padding-bottom: 7px;
        }
        .btn-detail {
            float: right;
        }
        .status-item {
            @include clearfix();
            border : {
                bottom : 1px solid #dcdcdc;
                top: 1px solid #dcdcdc;
            }
            padding: 10px 0;
            text-align: center;
            & > div {
                margin-left: 45px;
                &:first-child {
                    margin-left: 0;
                }
            }
            .number {
                display: block;
                font-size: 40px;
                padding-bottom: 5px;
            }
        }
    }
}

// ===============================
//  Creative & Account Style
//  ( My account 제외)
// ===============================

.approval-status__setting {
    .content__title {
        display: inline-block;
        margin-right: 15px;
        vertical-align: middle;
    }
    select {
        width: 130px;
    }
    .btn-ok {
        @include button-style(70,20,12);
        margin-left: 10px;
    }
}
.approval-status__list {
    [data-type='search'] {
        margin-bottom: 20px;
        width: 645px;
    }
    .btn-add-account {
        // Account - Apploval Manager 추가 버튼
        @include button-style(90,20,12);
        float: right;
        margin:{
            bottom:10px;
            top:35px;
        };
    }
    .btn-add {
        // Account 그 외 추가 버튼
        @include button-style(110,20,12,$btn-default-point);
        float: right;
        margin-top: 5px;
    }
}
.credit-status__table,
.campaign__table,
.approval-status__table {
    @include table-default();
    clear:both;
    .agency[rowspan] {
        @include box-sizing();
        padding-top: 13px;
        vertical-align: top;
    }
    table{
        border-collapse: separate !important;
    }
}

// ===============================
// Account - My Account Style
// Sign Up Style
// ===============================

// My Account - common(Mail Setting)

.request-form,
.my-account__wrap {
    .my-account-mail-setting {
        @include custom-input();
        font-size: 14px;
        .content__title {
            padding-bottom: 20px;
        }
        .btn-save,
        .btn-modify {
            margin-left: 5px;
        }
        .btn-modify {
            background : {
                image : url(#{$imgPath}/btn_modify_39cf6c_13x13.png);
                repeat : no-repeat;
            }
            height: 13px;
            text-indent: -999em;
            width: 13px;
        }
        .btn-save {
            @include button-style(55,20,11);
        }
        input[type='text'] {
            margin-left: 5px;
            text-align: center;
            vertical-align: top;
            width: 55px;
        }
    }
}
.request-form {
    // My account-Agency, sign-up Common
    .row__title{
        background-color: $requestContentRow-bg;
    }
    table {
        width: 100%;
        table-layout: fixed;
        th,
        td {
            padding-bottom: 10px;
        }
        th {
            padding-left: 20px;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            text-align: left;
            vertical-align: top;
        }
        td {
            text-align: left;
            font-size: 13px;
            line-height: 17px;
            min-height: 25px;
            vertical-align: middle;
            padding-right: 20px;
            p{
                word-wrap: break-word;
            }
        }
    }
    input[type='text'],
    input[type='password'] {
        width: 100%;
    }
    .status {
        @extend %status-icon;
        padding: 0 20px 20px;
        span{
            @include ellipsis();
            display: inline-block;
            width:100%;
            height: 13px;
        }
    }
    .title {
        background-color: $requestTitle-bg;
        border-bottom: 5px solid $requestTitle-border;
        font-size: 15px;
        line-height: 35px;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    .info {
        @include clearfix();
        & > div {
            width: 49%;
            &:nth-child(1) {
                float: left;
                th {
                    width: 185px;
                }
            }
            &:nth-child(2) {
                float: right;
                th {
                    width: 185px;
                }
            }
        }
        textarea {
            height: 45px;
        }
        .sub-agency-info__table {
            th {
                width: 185px;
            }
            .add-advertiser__tr {
                ul {
                    margin-bottom: 15px;
                }
            }
        }
        .agency-name__tr,
        .id__tr {
            td {
                position: relative;
            }
            .btn-check {
                right: 80px;
            }
            ._error,
            ._success{
                position: absolute;
                top:5px;
            }
            ._success{
                right: 20px;
            }
            ._error{
                right: 30px;
            }
        }
        .login-info{
            min-height: 170px;
            .login-info__table {
                td {
                    padding-right: 145px;
                }
                .password__tr {
                    td {
                        font-size: 16px;
                    }
                    .modify-show{
                        p{
                            display: block;
                            vertical-align: bottom;
                        }
                    }
                    .modify-hide {
                        p {
                            display: inline-block;
                            vertical-align: bottom;
                        }
                    }
                }
                .btn-change-password {
                    @include button-style(130,20,11,$btn-default);
                    display: inline-block;

                }
            }
        }
        .agency-info{
            .agency-name__tr ,
            .corporate-registration__tr{
                .btn-check {
                    right: 80px;
                }
                .add-agency {
                    padding-right: 125px;
                }
            }
            .corporate-registration__tr{
                th{
                    letter-spacing: -0.05em;
                }
            }
            .contract-period__tr{
                input[type="text"]{
                    width:200px;
                }
                .end-date{
                    margin-top: 7px;
                    display: block;
                }
                td {
                    .modify-show{
                        padding-top: 3px;
                    }
                    padding-bottom: 30px;
                }
            }
        }
        .employment-certificate__tr,
        .corporate-license__tr {
            ul{
                margin-top: 5px;
                li{
                    a[download]{
                        padding-right: 0;
                        max-width:90%;
                        width:auto;
                    }
                    .btn-delete{
                        margin-left: 0;
                    }
                }
            }
            .btn-upload {
                margin : {
                    top: 2px;
                    bottom:5px;
                }
            }
        }
        .office-phone-number__tr {
            td {
                padding-bottom: 30px;
            }
        }
        .btn-check {
            @include button-style(55,20,11,$btn-default);
            position: absolute;
            right: 50px;
            top: 3px;
        }
    }
    .history {
        li{
            padding-left: 20px;
        }
        .title {
            margin-bottom: 0;
        }
    }
    // My Account - Agency
    .my-account__title {
        font-size: 16px;
        padding-bottom: 20px;
    }
    .credit-amount__tr {
        td {
            padding-bottom: 0;
        }
        .credit-amount {
            @include progress(#404040);
            padding-top: 10px;
            width: 187px;
            .currentNumber {
                top: 0;
                &:after {
                    content: '%';
                }
            }
        }
    }
    .service{
        margin-top: 20px;
        .service-remaining__tr {
            span{
                @include ellipsis();
                display: inline-block;
                max-width:245px;
                vertical-align: middle;
            }
            .btn-view-detail {
                @include button-style(90,20,11,$btn-default);
                float: right;
            }
        }
    }
    .my-account-mail-setting{
        border-top: 2px solid #dadada;
        padding-top: 30px;
        margin-top: 30px;
    }
    // signUp
    &[data-account='sub'] {
        .history {
            .history-wrap {
                height: 350px;
            }
        }
    }
}
// My Account - ect

.my-account__wrap{
    .my-account-info {
        table {
            border:  {
                bottom: 2px solid #313131;
                top: 2px solid #313131;
            }
            margin:  {
                bottom: 45px;
                top: 10px;
            }
            width: 100%;
            tr {
                @include box-sizing();
                table-layout: fixed;
                border-bottom: 1px solid #dfdfdf;
                display: table;
                float: left;
                width: 50%;
            }
            th,
            td {
                height: 45px;
                display: table-cell;
                vertical-align: middle;
                text-align: left;
            }
            th {
                font-size: 16px;
                padding-left: 20px;
                width: 100px;
                min-width:100px;
            }
            td {
                font-size: 13px;
                padding-right: 20px;
                span{
                    max-width:100%;
                    height: 15px;
                    display: inline-block;
                    vertical-align: middle;
                    @include ellipsis();
                }
            }
            .id__tr,
            .password__tr {
                border-left: 1px solid #dfdfdf;
            }
            .email__tr {
                input[type='text'] {
                    width: 205px;
                }
                span{
                    max-width:95%;
                }
                .modify-hide {
                    display: none;
                }
                button {
                    vertical-align: middle;
                }
                .btn-modify {
                    background-image: url(#{$imgPath}/btn_modify_39cf6c_10x10.png);
                    height: 10px;
                    margin-left: 3px;
                    text-indent: -9999em;
                    width: 10px;
                    vertical-align: top;
                }

                .btn-ok,
                .btn-cancel {
                    margin-left: 3px;
                }
                .btn-ok,
                .btn-cancel {
                    @include button-style(55,20,11);
                }
                .btn-cancel {
                    background-color: #313131;
                }
            }
        }
        .password__tr {
            .btn-change {
                @include button-style(130,20,11,$btn-default);
            }
        }
    }
}

// ===============================
//   Report Style
// ===============================

//Report Common

.report-by,
.sales-status {
    .status__table {
        @include table-default();
    }
    .btn-editcolumn,
    .btn-export {
        @include button-style(90,20,12);
    }
}

// Spender, Performance

.report-by {
    &[data-type='advertiser'] {
        td {
            &.total-sales,
            &.service {
                color: $font-highlighter;
            }
        }
    }
    .content {
        position: relative;
    }
    .button-wrap {
        position: absolute;
        right: 40px;
        top: 10px;
    }
    .btn-editcolumn {
        margin-right: 5px;
    }
    .status__table {
        margin-top: 10px;
        .btn-sales,
        .btn-spender {
            @include button-style(80,20,12,$btn-default);
            &[disabled]{
                background: #eee;
            }
        }
        .campaign {
            @include ellipsis();
            padding-left: 20px;
            text-align: left;
        }
        .btn-sales {
            margin-right: 8px;
        }
    }
}

// Campaign Type

.sales-status {
    .graph__wrap {
        margin-bottom: 30px;
        position: relative;
    }
    .btn-export {
        float: right;
        margin-bottom: 20px;
    }
    .status__table {
        clear: both;
        td {
            &.total-sales,
            &.service,
            &.commission,
            &.profit {
                color:$font-highlighter; //#2cbf5e
            }
        }
    }
}

// Report - Campaign Type, Spender Graph Layout

.spender-leading,
.sales-status {
    .graph__wrap {
        display: table;
        table-layout: fixed;
        width:100%;
        height: 242px;
        .content__title {
            padding-bottom: 10px;
        }
        .total-sales {
            width: 360px;
            display: table-cell;
            position: relative;
            z-index:5;
        }
        .daily-sales {
            display: table-cell;
            padding-left: 80px;
        }
    }
}

// Report - Performance Graph

.average-performance{
    .performance__graph{
        height:185px;
    }
}

// ===============================
// Campaign Style
// ===============================

//Create Campaign Step Tab

.campaign-step {
    @include clearfix();
    background: $campaignStep-bg;
    font-weight: 700;
    width: 100%;
    li {
        cursor: pointer;
        float: left;
        font-size: 15px;
        line-height: 45px;
        position: relative;
        text-align: center;
        width: 33.3333%;
        &._active {
            background-color: $campaignStepActive-bg;
            color: #fff;
            &:after {
                background-image: url(#{$imgPath}/bg_step--active_39cf6c_21x45.png);
            }
        }
        &:after {
            background : {
                image: url(#{$imgPath}/bg_step_ffffff_21x45.png);
                repeat: no-repeat;
            }
            content: '';
            background-repeat: no-repeat;
            display: block;
            height: 45px;
            position: absolute;
            right: -19px;
            top: 0;
            width: 21px;
            z-index: 10;
        }
        &.step3 {
            &:after {
                display: none;
            }
        }
    }
}

//Create Campaign - Step 1

.choose-campaign__table {
    margin:  {
        bottom: 20px;
        left: 20px;
        top: 30px;
    }
    table {
        table-layout: fixed;
        width: 100%;
        th {
            font-size: 16px;
            padding-top: 5px;
            text-align: left;
            vertical-align: top;
            width: 140px;
        }
        td {
            font-size: 13px;
            text-align: left;
        }
        .campaign__tr {
            td {
                @include custom-input(true);
                padding-bottom: 20px;
                label{
                    width:120px;
                }
            }
        }
        .type__tr {
            td {
                .btn-website,
                .btn-app-install {
                    @include border-radius(15px);
                    @include box-sizing();
                    border: 1px solid $campaignType-border;
                    color: $campaignType-font;
                    display: inline-block;
                    font-size: 13px;
                    line-height: 25px;
                    outline: 0 none;
                    text-align: center;
                    width: 180px;
                    &:hover,
                    &._active {
                        background: $campaignTypeActive-bg;
                        color: $campaignTypeActive-font;
                    }
                    &:after {
                        background: {
                            position: 0 center;
                            repeat : no-repeat;
                        }
                        content: '';
                        display: inline-block;
                        height: 16px;
                        line-height: 16px;
                        margin-left: 10px;
                        vertical-align: sub;
                        width: 13px;
                    }
                }
                .btn-website {
                    &:after {
                        background-image: url(#{$imgPath}/icon_campaign-website_404040_10x16.png);
                    }
                    &:hover,
                    &._active {
                        &:after {
                            background-image: url(#{$imgPath}/icon_campaign-website--active_ffffff_10x16.png);
                        }
                    }
                }
                .btn-app-install {
                    &:after {
                        background-image: url(#{$imgPath}/icon_campaign-app-404040_12x12.png);
                    }
                    &:hover,
                    &._active {
                        &:after {
                            background-image: url(#{$imgPath}/icon_campaign-app--active_ffffff_12x12.png);
                        }
                    }
                }
                .type__list {
                    padding-bottom: 20px;
                    > li {
                        display: inline-block;
                        margin-left: 10px;
                        vertical-align: top;
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
                //ul 엘리먼트에 use-existing가 붙을시
                .use-existing {
                    width: 100%;
                    display: none;
                    > li {
                        position: relative;
                        width: 49%;
                        &:after {
                            background: #f2f2f2;
                            border-top: 1px solid #d3d3d3;
                            bottom: -2px;
                            content: '';
                            display: block;
                            height: 5px;
                            left: 0;
                            position: absolute;
                            width: 100%;
                        }
                        > p {
                            background-color: #f2f2f2;
                            border-bottom: 1px solid #d3d3d3;
                            cursor: default;
                            line-height: 30px;
                            text-align: center;
                            width: 100%;
                            &:after {
                                background : {
                                    position : 0 center;
                                    repeat : no-repeat;
                                }
                                content: '';
                                display: inline-block;
                                height: 16px;
                                line-height: 16px;
                                margin-left: 10px;
                                vertical-align: sub;
                                width: 13px;
                            }
                            &.website__text {
                                &:after {
                                    background-image: url(#{$imgPath}/icon_campaign-website_404040_10x16.png);
                                }
                            }
                            &.app-install__text {
                                &:after {
                                    background-image: url(#{$imgPath}/icon_campaign-app-404040_12x12.png);
                                }
                            }
                        }
                    }
                    .scroll-wrap {
                        height: 244px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        li {
                            @include box-sizing();
                            width:100%;
                            border-bottom: 1px solid #d3d3d3;
                            height: 30px;
                            line-height: 29px;
                            padding : 0 12px;
                            &:hover{
                                background-color: #d7f5e2;
                                color: #404040;
                            }
                            &._active {
                                background-color: #fff;
                                &:before{
                                    content: "";
                                    width: 10px;
                                    height: 30px;
                                    margin-right: 5px;
                                    display: inline-block;
                                    background :{
                                        image: url(#{$imgPath}/bg_selected_39cf6c_10x7.png);
                                        repeat:no-repeat;
                                        position: 0 50%;
                                    }
                                }
                            }
                            a {
                                @include ellipsis();
                                @include box-sizing();
                                color: #404040;
                                display: inline-block;
                                height: 30px;
                                width:95%;
                                max-width:95%;
                            }
                        }
                    }
                }
            }
        }
        .app__tr{
            display: none;
        }
    }
}

//Create Campaign - Step 2
.campaign-information {
    .content {
        & > div {
            padding: 0 20px;
        }
    }
    .audience {
        margin-top: 30px;
        .create-new-content {
           // @include listItem();
            padding-left: 20px;
            border: {
                top: 2px solid #313131;
                bottom: 2px solid #313131;
            }
            .title {
                padding-left: 20px;
            }
            .list{
                margin-left: 132px;
            }
        }
    }
    .creative {
        position: relative;
        margin-top: 60px;
        .creative-content-wrap {
            @include box-sizing();
            border : {
                top : 2px solid #313131;
                bottom : 2px solid #313131;
            }
            display: table;
            padding: 20px;
            width: 100%;
            .creative-title {
                background: #f2f2f2;
                border-bottom: 1px solid #d3d3d3;
                line-height: 29px;
                text-align: center;
            }
        }
        .choose-creative {
            display: table-cell;
            .create-new-content {
            //    @include listItem(107);
                min-height: 110px;
                padding-top:40px;
                .list > li{
                    margin-left: 15px;
                }
            }
            .creative-library {
                padding-bottom: 40px;
                position: relative;
                .title {
                    font-size: 14px;
                }
                &:after {
                    background-color: #f2f2f2;
                    border-top: 1px solid #d3d3d3;
                    bottom: 0;
                    content: '';
                    display: block;
                    height: 5px;
                    left: 0;
                    position: absolute;
                    width: 100%;
                }
                .creative-library__scroll {
                    height:465px;
                    margin-top: 10px;
                }
            }
        }
    }
    .budget-schedule {
        margin-top: 60px;
        .edit-schedule__table {
            @include custom-input();
            border: {
                top: 2px solid #313131;
                bottom: 2px solid #313131;
            }
            padding: 20px;
            th,
            td {
                vertical-align: top;
            }
            td {
                padding-top: 10px;
                text-align: left;
            }
            th {
                font-size: 14px;
                padding-top: 15px;
                text-align: left;
                width: 115px;
            }
            .campaign-name__tr {
                td {
                    padding-top: 0;
                }
                th {
                    padding-top: 5px;
                }
                input {
                    width: 360px;
                }
            }
            .date__tr {
                .end-minute {
                    margin-right: 10px;
                }
                select {
                    width: 115px;
                }
            }
            .schedule__tr{
                .time-wrap{
                    margin-left:0;
                    .label{
                        width:25px;
                    }
                }
            }
            .budget-name__tr {
                input {
                    width: 140px;
                }
            }
        }
    }
}

// Create Campaign - Step 3
// Campaign - Manage Campaign - Manage Button Click

.campaign-summary {
    @include custom-input();
    &._modify {
        .modify-hide {
            display: block;
        }
        .modify-show {
            display: none;
        }
        .campaign__title {
            background-color: $campaignModify-bg;
            .btn-modify {
                display: none;
            }
            .modify-button__wrap {
                display: inline-block;
                float: right;
                margin-right: 10px;
                button {
                    @include button-style(60,20,11);
                    vertical-align: middle;
                }
                .btn-ok {
                    background-color: $campaignModify-successBtn-bg;
                }
                .btn-cancel {
                    background-color: $campaignModify-failBtn-bg;
                    color: #313131;
                }
            }
        }
        .campaign-summary__table {
            .spent__tr{
                .service__th {
                    padding-left: 10px;
                    border-left: 1px solid #dadada;
                }
                input[type="text"]{
                    width:98px;
                }
            }

        }
    }
    .modify-show {
        display: block;
    }
    .modify-hide {
        display: none;
    }
    .campaign__title {
        .btn-modify {
            background-image: url(#{$imgPath}/btn_modify_39cf6c_13x13.png);
            background-repeat: no-repeat;
            height: 13px;
            margin-left: 5px;
            overflow: hidden;
            text-indent: -999em;
            vertical-align: middle;
            width: 13px;
        }
        .modify-button__wrap {
            display: none;
        }
    }
    .campaign-summary__table {
        table {
            border-bottom: 2px solid #313131;
            width: 100%;
            table-layout: fixed;
        }
        th,
        td {
            border-bottom: 1px solid #dadada;
            height: 50px;
            text-align: left;
            vertical-align: middle;
        }
        th {
            font-size: 14px;
            font-weight: 700;
            padding-left: 20px;
            width: 100px;
        }
        td {
            font-size: 13px;
        }
        input[type='radio'] {
            & + label {
                height: 20px;
                line-height: 1;
                &:before,
                &:after {
                    margin-top: 0;
                    top: 0;
                }
            }
        }
        .spending {
            border-left: 1px solid #dadada;
            vertical-align: top;
            width: 421px;
            padding: 20px 20px 15px;
            .title {
                font-size: 14px;
                font-weight: 700;
            }
            .graph{
                margin: {
                    top:45px;
                    left:25px;
                }
            }
            .modify-hide {
                .title,
                .schedule__select{
                    display: inline-block;
                }
                .title {
                    vertical-align: top;
                    width: 90px;
                }
            }
        }
        .name__tr {
            select {
                width: 115px;
            }
            input[type='text'] {
                margin-left: 5px;
                width: 225px;
            }

            #span_campaign_name{
                @include ellipsis();
                max-height: 20px;
                padding-right: 10px;
                &+.tooltip{
                    z-index:15;
                }
            }

        }
        .budget__tr,
        .spent__tr {
            input[type='text'] {
                width: 115px;
            }
        }
        .service__th {
            border-left: 0;
        }
        .delivery__tr {
            p {
                display: inline-block;
                width: 100px;
            }
        }
        .date__tr {
            .modify-hide {
                div {
                    margin-top: 6px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
            td {
                height: 56px;
                padding-bottom: 10px;
                padding-top: 10px;
            }
        }
    }
}
.audience-creative {
    margin-top: 50px;
    .button-wrap {
        margin:  {
            bottom: 10px;
            top: 10px;
        }
        .balance-all__button-wrap {
            display: inline-block;
            text-align: left;
            button {
                @include button-style(90,20,12,$btn-default-sub);

                margin-right: 6px;
            }
        }
        .new__button-wrap {
            display: inline-block;
            float: right;
            button {
                @include button-style(120,20,12);

                margin-left: 6px;
            }
        }
    }
    .campaign__table {
        // tbody 에 _fold 클래스 추가시 tbody 접힘
        ._fold {
            [data-row='total'] {
                .name {
                    .btn-slide {
                        background-image: url(#{$imgPath}/icon_slide--down_313131_15x15.png);
                    }
                }
            }
            [data-row='sub'] {
                display: none;
            }
        }
        [data-row='total'],
        [data-row='sub']{
            .btn-edit {
                width: 60px;
            }
            th.name{
                padding-left: 43px;
            }
            button[disabled]{
                background-color: $btn-disabled;
            }
        }
        [data-row='total'] {
            td {
                background-color: $tableStepTotal-bg;
                color: $tableStepTotal-font
            }
            .name {
                position: relative;
                padding-left: 42px;
                text-align: left;
                span {
                    @include ellipsis();
                    display: inline-block;
                    max-width:100%;
                    &:before {
                        display: none;
                    }
                }
                .btn-slide {
                    background:{
                        image: url(#{$imgPath}/icon_slide--up_313131_15x15.png);
                        repeat: no-repeat;
                    }
                    height: 15px;
                    text-indent: -9999em;
                    width: 15px;
                    position: absolute;
                    left:8px;
                    top:12px;
                }
            }
            .status {
                @include custom-toggle($table-subToggle-bg,$table-subToggle-border);
            }
        }
        [data-row='sub'] {
            .name {
                padding-left: 60px;
                position: relative;
                .library {
                    position: absolute;
                    left: 0;
                    top: 5px;
                    background-color: #d5d5d5;
                    display: inline-block;
                    height: 28px;
                    vertical-align: middle;
                    width: 28px;
                    img {
                        @include center();
                        max-height: 100%;
                        max-width: 100%;
                    }
                    &+span{
                        @include ellipsis();
                        max-width:100%;
                        box-sizing: border-box;
                        display: inline-block;
                        max-height: 13px;
                        height: 13px;
                        vertical-align: middle;
                        &::before {
                            position: absolute;
                            left: 43px;
                            top:15px;
                        }
                    }
                }

            }
            .btn-delete,
            .btn-edit {
                background-color: $btn-default-sub;
            }
        }
    }
}

// Campaign - Manage Campaign

.spending-graph {
    .content{
        position: relative;
    }
    .spending-graph__tab {
        @include tab-menu(100, 25, 13);
        top:30px;
        left:35px;
        position: absolute;
        width:100%;
        z-index: 5;
        border-bottom: 0;
    }
    .content__tab {
        margin-top: 16px;
        height: 187px;
        position: relative;
        > div {
            height: 100%;
            opacity: 0;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
        }
        .website-click__section,
        .app-install__section{
            opacity: 1;
        }
    }
}
.campaign-report {
    .content {
        position: relative;
    }
    .button__wrap {
        position: absolute;
        right: 35px;
        top: 10px;
        .btn-editcolumn,
        .btn-export {
            @include button-style(90,20,12);
        }
    }
    .campaign__table {
        margin : {
            top:17px;
            bottom:30px;
        }
        td{
            &.campaign-name{
                position: relative;
                padding-left: 35px;
                span{
                    @include box-sizing();
                    width:100%;
                    &::before{
                        position: absolute;
                        top:15px;
                        left:20px;
                    }
                }
            }
        }
    }
    .website-click__wrap {
        margin-top: 10px;
    }
}


// Payment - 아직 추가 안 된 부분

.view-payment {
    .button-wrap {
        margin-bottom: 10px;
        text-align: right;
        .btn-export {
            @include button-style(90,20,12);
        }
    }
    .payment__table {
        @include table-default();

        overflow-x: auto;
        table {
            width: 200%;
        }
        .total {
            color: $font-highlighter;
        }
        &:after {
            width: 200%;
        }
    }
}
