
%popup-default-width{
  width:602px;
}
%popup-double-width{
  width:1010px;
}
%popup-campaign-width{
  width:800px;
}


// Status 상태 아이콘
%status-icon{
  ._pending,
  ._approved,
  ._disapproved,
  ._all,
  ._revised {
    &:before {
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: 8px;
      margin-right: 10px;
      width: 8px;
    }
  }
  ._pending {
    &:before {
      background-color: #ffcc5f;
    }
  }
  ._approved {
    &:before {
      background-color: #39cf6c;
    }
  }
  ._disapproved {
    &:before {
      background-color: #f88;
    }
  }
  ._all {
    &:before {
      background-color: #000;
    }
  }
  ._revised {
    &:before {
      background-color: #88c3ff;
    }
  }
}