//  @Prefix용 Mixin
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin box-sizing($value: border-box) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}
@mixin transform($value) {
    -webkit-transform: $value;
    -ms-transform: $value;
    transform: $value;
}
@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}
@mixin content-box-shadow($border: false) {
    @include box-shadow(3px 0 5px 0 rgba(0, 0, 0, 0.2));
    @if($border == true) {
        border: 1px solid $color_alto_approx;
    }
}

// @ 말줄임표

@mixin ellipsis() {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

// @ 텍스트 날리기

@mixin screen-out() {
    overflow: hidden;
    text-indent: -9999px;
}

// @ 클리어 픽스

@mixin clearfix() {
    *zoom: 1;
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

// @ 요소 가운데 정렬
// - 부모 요소에 position:relative 추가 필요

@mixin center() {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

// @ Default Button Style

@mixin button-style($width: 130,$height:32,$font-size : 18,$bg-color : $brand-color, $font-color : #fff) {
    @include box-sizing();
    background-color: $bg-color;
    border-radius: ($height/2)+px;
    color: $font-color;
    cursor: pointer;
    font-size: $font-size+px;
    line-height: $height+px;
    overflow: hidden;
    text-align: center;
    width: $width+px;
}

// @ Custom Checkbox, radio
// $border-is(Boolean) true 일시 라운드 추가

@mixin custom-input($border-is: false) {
    // 라벨
    label {
        background-color: transparent;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        margin-left: 10px;
        vertical-align: top;
        &:before,
        &:after{
            background-repeat: no-repeat;
        }
        @if $border-is == true {
            border: 1px solid #cacaca;
            border-radius: 15px;
            height: 25px;
            line-height: 23px;
            padding-right: 7px;
        }
        @else {
            height: 25px;
            line-height: 25px;
        }
        &:nth-of-type(1) {
            margin-left: 0;
        }
    }

    input[type='checkbox'],
    input[type='radio'] {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        // 체크상태일때
        &:checked {
            & + label {
                &:after {
                    background-image: url(#{$imgPath}/icon_check_313131_13x10.png);
                }
            }
        }
        // 사용불가 상태일때
        &:disabled {
            @if $border-is == true {
                & + label {
                    background-color: #f6f6f6;
                    color: rgba(64, 64, 64, 0.3);
                }
            }
            &:checked {
                & + label {
                    &:after {
                        background-image: url(#{$imgPath}/icon_check_aaaaaa_13x10.png);
                    }
                }
            }
        }
        & + label {
            position: relative;
            @if $border-is == true {
                padding-left: 27px;
            }
            @else {
                padding-left: 25px;
            }

            &:before {
                content: '';
                display: inline-block;
                margin-top: -7px;
                position: absolute;
                top: 50%;
                vertical-align: top;
                @if $border-is == true {
                    left: 8px;
                }
                @else {
                    left: 0;
                }
            }
            &:after {
                content: '';
                display: block;
                height: 10px;
                position: absolute;
                width: 13px;

                @if $border-is == true {
                    left: 9px;
                    margin-top: -7px;
                    top: 50%;
                }
                @else {
                    left: 1px;
                    top: 5px;
                }
            }
        }
    }

    // 타입이 Checkbox 일때
    input[type='checkbox'] {
        &:disabled {
            + label {
                &:before {
                    background-image: url(#{$imgPath}/bg_checkbox--disabled_e7e7e7_11x12.png);
                    height: 11px;
                    width: 11px;
                }
            }
        }
        & + label {
            &:before {
                background-image: url(#{$imgPath}/bg_checkbox_bcbcbc_11x11.png);
                height: 11px;
                width: 11px;
            }
        }
    }

    // 타입이 Radio 일때

    input[type='radio'] {
        & + label {
            &:before {
                background-image: url(#{$imgPath}/bg_radio_bcbcbc_13x13.png);
                height: 13px;
                width: 13px;
            }
        }
    }
}

// @ Toggle
// $check-color 활성화 시 토글 색상
// $check-border 활성 화 시 토글 색상
// - 비 활성화시 색상은 통일되어 있음

@mixin custom-toggle($check-color: $brand-color,$check-border:#d9dcdf) {
    input[type='checkbox'] {
        display: none;
        & + label,
        & + label:before {
            transition: all 0.2s;
        }
        & + label {
            background-color: #ddd;
            border: 1px solid #878787;
            border-top-color: #d6d6d6;
            border-right-color:#c7c6c6;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            cursor: pointer;
            display: inline-block;
            height: 6px;
            position: relative;
            width: 25px;
            &:before {
                background: #fff;
                border: 1px solid #acb5ba;
                border-radius: 8px;
                -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
                content: '';
                display: block;
                height: 15px;
                left: -2px;
                position: absolute;
                top: -6px;
                width: 15px;
            }
        }
        &:checked {
            & + label {
                background: $check-color;
                border: 1px solid $check-border;
                &:before {
                    left: 10px;
                }
            }
        }
    }
}

// @ Tab menu

@mixin tab-menu($width,$height,$font-size) {
    border-bottom: 1px solid #ddd;
    font-size: 0;
    li {
        box-sizing: border-box;
        display: inline-block;
        margin-left: 1px;
        width: $width+px;
        &:first-child {
            margin-left: 0;
        }
    }
    a {
        background-color: #e4e4e4;
        border-radius: 5px 5px 0 0;
        color: $base-color;
        display: block;
        font-size: $font-size+px;
        height: $height+px;
        line-height: $height+px;
        text-align: center;
        text-decoration: none;
    }
    ._active {
        a {
            background-color: $base-color;
            color: #fff;
        }
    }
}

// @ Progress
// $font-color: 현재 %값을 알려주는 폰트 색상

@mixin progress($font-color: $brand-color) {
    position: relative;
    .progress {
        border: 1px solid #dcdcdc;
        border-radius: 30px;
        display: inline-block;
        vertical-align: middle;
    }
    .zero,
    .finish {
        vertical-align: middle;
    }
    .zero {
        display: inline-block;
        font-size: 10px;
        width: 10px;
    }
    .finish {
        display: inline-block;
        font-size: 10px;
        text-align: right;
        width: 30px;
    }
    .currentNumber {
        color: $font-color;
        font-size: 11px;
        position: absolute;
        top: 4px;
    }
    .ui-progressbar {
        @include box-sizing();

        height: 10px;
        .ui-progressbar-value {
            margin-top: 0;
        }
    }
    .ui-widget-content {
        background-color: #fff;
    }
    .ui-widget-header {
        background-color: $brand-color;
    }
}

// @ Table default Style

@mixin table-default($th-height:40,$td-height:40) {
    table {
        position: relative;
        width: 100%;
        table-layout: fixed;
    }
    tfoot{
        display: table-row-group;
        td {
            background: #404040;
            border-bottom: 1px solid #7b7b7b;
            color: #fff;
        }
    }
    &:after {
        background: #f2f2f2;
        content: '';
        display: block;
        height: 6px;
        width: 100%;
    }
    td,
    th {
        border-bottom: 1px solid #d7d7d7;
        vertical-align: middle;
    }
    td {
        height: $td-height+px;
    }
    thead {
        th {
            background: #f2f2f2;
            font-weight: 700;
            height: $th-height+px;
        }
    }
}

// @ Popup에 들어가는 Table 기본 스타일
// $width : th 의 넓이값
// $padding : td의 위 아래 패딩 값 조절

@mixin popup-table-default($width: 210,$padding:5) {
    table {
        table-layout: fixed;
        width: 100%;
        td {
            line-height: 16px;
            padding-bottom: $padding+px;
            padding-top: $padding+px;
            vertical-align: top;
            word-break: break-all;
        }
        th {
            font-size: 14px;
            font-weight: 700;
            min-width: $width+px;
            padding-top: 7px;
            text-align: left;
            vertical-align: top;
            width: $width+px;
        }
    }
    .content {
        padding:  {
            left: 10px;
            right: 10px;
            top: 15px;
        }
    }
}

