@charset "UTF-8";

$imgPath : '../images';
$brand:vingle;


//=======================================================================
// Image System Guide
//=======================================================================

$brandImage:(
        1: "icon_a_39cf6c_8x13.png",
        2: "icon_b_39cf6c_8x13.png",
        3: "icon_c_39cf6c_8x13.png",
        4:"icon_d_39cf6c_8x13.png",
        5:"icon_f_39cf6c_8x13.png"
);


//=======================================================================
//  Color System Guide
//=======================================================================

// Default Color System

$base-color: hsl(0,0%,19%);//#313131
$white-color: hsl(0,0%,100%);//#ffffff
$brand-color:#39cf6c;
$warning-color: hsl(0,100%,77%);//#ff8888
$disabled-color: #e0e0e0;
$success-color:$brand-color;

//Border

$border-focus: $brand-color;
$border-input: #c6c6c6;

//Background

$bg-correctTitle:$base-color;
$bg-selectHover:#cbe7d6;
$bg-tabActive:$brand-color;

//Button

$btn-success:$brand-color;
$btn-fail:$base-color;
$btn-correct-cancel:#d6d6d6;
$btn-default:$base-color;
$btn-default-point:$brand-color;
$btn-default-sub:#b2b2b2;
$btn-disabled:#eeeeee;

//Font

$font-default:$base-color;
$font-download:$brand-color;
$font-link-point:#4052ff;
$font-highlighter:$brand-color;
$font-info:rgba(49,49,49,0.5);

//Tooltip

$tooltip-default:#ababab;

// Login Layout

$login-bg:$base-color;
$errorHeader-bg:$brand-color;
$loginHeader-bg:$base-color;
$boxFooter-border:#e7e7e7;
$error-disc:$brand-color;

//Header Layout

$header-bg:#ffffff;
$headerUtil-font:#979797;
$headerUtilBar-bg:#e0e0e0;

//Popup Layout

$popupHeader-bg:$base-color;
$popupHeader-font:#ffffff;
$errorPopupHeader-bg:$brand-color;
$popupContainerTitle-bg:#d6d6d6;
$popupContainerTitle-border:#f1f1f1;
$popupFooter-border:#ababab;
$dim:rgba(0, 0, 0, 0.4);

//Nav Layout

$nav-bg:$base-color;
$navProfile-font:#8e8e8e;
$navGnb-font:#ffffff;
$navGnbHover-font:$brand-color;
$navGnbDepth-border:#000000;
$navGnbDepth-bg:#222222;
$navGnbDepth-font:rgba(255, 255, 255, 0.3);
$navGnbDepthHover-bg:#000000;
$navGbnDegthHover-font:#ffffff;

//Container Layout

$contents-bg: #e7e7e7;
$contents-border:#e0e0e0;
$content-bg: #ffffff;
$contentSubTitle-font:$brand-color;
$requestContentRow-bg:$brand-color;

$contentRowTitle-bg: $brand-color;
$contentRow-color: #ffffff;
$campaignTitle-bg:$base-color;
$campaignTitle-font: #ffffff;
$campaignSlide-border:#f1f1f1;
$filter-border:#dadada;
$requestTitle-bg:#d6d6d6;
$requestTitle-border:#f1f1f1;
$campaignStep-bg:#ffffff;
$campaignStepActive-bg:$brand-color;
$campaignType-border:#bcbcbc;
$campaignType-font:$base-color;
$campaignTypeActive-bg:$base-color;
$campaignTypeActive-font:#ffffff;
$campaignModify-bg:$brand-color;
$campaignModify-successBtn-bg:#313131;
$campaignModify-failBtn-bg:#ffffff;

//  Table Color

$table-header-bg:#f2f2f2;
$table-total-bg: #404040;
$table-total-color: #ffffff;
$table-total-border: #7b7b7b;
$tableStepTotal-bg:#cccccc;
$tableStepTotal-font:#ffffff;
$table-subToggle-bg:#313131;
$table-subToggle-border:#313131;

//replace Function

@function str-replace($string, $search, $replace:''){
  $index:str-index($string,$search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}


@if($brand=="band"){
  $imgPath : '../images/band';
  $brand-color:#39cf6c;
  @each $item, $image in $brandImage {
    .abc#{$item}{
      &:before{
        content: str-replace(map-get($brandImage, $item),'39cf6c','322122');
      }
    }
  }

}@else if($brand=='vingle'){
  $imgPath : '../images/vingle';
  $brand-color:#e12021;
  @each $item, $image in $brandImage {
    .abc#{$item}{
      &:before{
        content: str-replace(map-get($brandImage, $item),'39cf6c','322122');
      }
    }
  }
}
