@charset "UTF-8";

$imgPath : '../images';
//=======================================================================
//  Color System Guide
//=======================================================================

// Font, link color
$font-default:$base-color;
$font-white:$white-color;
$font-warning: $warning-color;
$font-nav-profile: #8e8e8e;
$font-nav-depth:rgba(255, 255, 255, 0.3);
$font-info:rgba(49, 49, 49, 0.5);
$font-highlighter:$brand-color;
$font-download:$brand-color;
$font-popup-link-point:#4052ff;
$font-popup-link-default: $base-color;

// Button Color
$btn-default: $base-color;
$btn-default-light: hsl(0,0%,70%);//#b2b2b2
$btn-disabled : hsl(0,0%,93%); //#eeeeee
$btn-fail:$base-color;
$btn-success:$brand-color;
$btn-correct-cancel:hsl(0,0%,84%); //#d6d6d6
$btn-campaign-cancel: $white-color;

//  Table Color

$table-total-bg: #404040;
$table-total-color: #ffffff;
$table-total-border: #7b7b7b;
$table-header-bg:#f2f2f2;




$tfoot-bg:#404040;
$tfoot-color:#ffffff;
$tfoot-border:#7b7b7b;
$thead-bg:#f2f2f2;
$btnTableDefault-bg:$base-color;

$tableBottom-bg:#f2f2f2;
$cell-border:#d7d7d7;
$tableCellPoint-color:$brand-color;
$tableTotalCell-bg:#cccccc;
$tableTotalCell-font:#ffffff;
$tableSubCell-bg:#d5d5d5;





















$btnFail-bg:$base-color;
$btnSuccess-bg:$brand-color;
$btnDubbleLayoutSuccess-bg:$base-color;
$btnDisabled-bg:#eeeeee;
$btnCampaignCancle-bg:#ffffff;
$btnCampaignCancle-font:#313131;
$ntnBalance:#b2b2b2;
$btnBalance:#b2b2b2;

//Link

$popupLink-font:#4052ff;
$downloadLink-font:$brand-color;


//Container Layout

$contents-bg: #e7e7e7;
$contents-border:#e0e0e0;
$content-bg: #ffffff;
$contentSubTitle-font:$brand-color;
$contentRow-bg: #ffffff;
$contentRowTitle-bg: #brand;
$contentRow-color: #ffffff;
$campaignTitle-bg:#313131;
$campaignTitle-font: #ffffff;
$campaignSlide-border:#f1f1f1;
$filter-border:#dadada;
$info-font:rgba(49,49,49,0.5);
$dashboard-border:#dcdcdc;
$requestTitle-border:#f1f1f1;
$requestTitle-bg:#d6d6d6;
$requestFoot-border:#dadada;
$myAccountTable-border:$base-color;
$myAccountTr-border:#dfdfdf;
$campaignSummaryBorder:#dadada;




// Login Layout

$login-bg:$base-color;
$box-bg:#ffffff;
$box-border:#cbcbcb;
$boxFooter-border:#e7e7e7;
$boxHeader-color:#ffffff;
$errorHeader-bg:$brand-color;
$loginHeader-bg:$base-color;
$errorPopupHeader-bg:$brand-color;
$errorPopupContainer-disc:$brand-color;
$error-disc:$brand-color;


//Header Layout

$header-bg:#ffffff;
$headerUtil-font:#979797;
$headerUtilBar-bg:#e0e0e0;

//Nav Layout

$nav-bg:$base-color;
$navProfile-font:#8e8e8e;
$navGnb-font:#ffffff;
$navGnbHover-font:$brand-color;
$navGnbDepth-border:#000000;
$navGnbDepth-bg:#222;
$navGnbDepth-font:rgba(255, 255, 255, 0.3);
$navGnbDepthHover-bg:#000000;
$navGbnDegthHover-font:#ffffff;

//Popup Layout

$popup-bg:#ffffff;
$popup-border:#cbcbcb;
$popupHeader-bg:$base-color;
$popupHeader-font:#ffffff;
$popupContainerTitle-bg:#d6d6d6;
$popupContainerTitle-border:#f1f1f1;
$popupFooter-border:#ababab;
$popupDim-bg:rgba(0, 0, 0, 0.4);


//Image

$imageLibrary-bg:#d5d5d5;

//tab
$tab-border:#dddddd;
$tabDisabled-bg:#e4e4e4;
$tabDisabled-font:$base-color;
$tabActive-bg:$brand-color;
$tabActive-font:#ffffff;


//Input

$inputText-border: #c6c6c6;
$inputTextFocus-border: $brand-color;

$inputCheck-bg:transparent;
$inputCheck-border:#cacaca;
$inputCheckDisabled-bg:#f6f6f6;
$inputCheckDisabled-font:rgba(64, 64, 64, 0.3);


//Progress
$progress-border:#dcdcdc;
$progressPercent-color:$brand-color;
$progressEmpty-color:#ffffff;
$progressCurrentBasic-color:#404040;
//Toggle

$toggleBtn-bg:#ffffff;
$toggleBtn-border:#acb5ba;
$toggleBtn-shadow:rgba(0, 0, 0, 0.2);
$toggleDisabled-bg:#dddddd;
$toggleDisabled-border:#878787;
$toggleDisabled-borderTop:#d6d6d6;
$toggleDisabled-borderRight:#c7c6c6;

//select
$select-border:#c6c6c6;
$select-bg:#ffffff;
$select-font:#323232;
$selectList-border:#c1c1c1;
$selectHover-bg:#d7f5e2;
$selectHover-font:#404040;
$selectImage-bg:#eeeeee;
$selectSearch-border:#c6c6c6;
$selectDisabled-bg:rgb(238,238,238);

//Validator & Tooltip

$validator-border:$warning-color;
$validator-bg:$warning-color;
$validatorError-color:$warning-color;
$validatorSuccess-color:$brand-color;
$tooltipEllipsis-bg:#ababab;

//Charts Border
$chartTooltip-border:#a7a7a7;
$chartLegend-border:#cacaca;
$chartNumber-color:#404040;

//Datapicker
$calendar-bg:#ffffff;
$calendar-border:#c6c6c6;
$calendar-font:#636363;
$calendarActive-bg:$brand-color;
$calendarActive-font:#ffffff;

//Status Icon

$icon-pending:#ffcc5f;
$icon-approved:#39cf6c;
$icon-disapproved:#ff8888;
$icon-revised:#88c3ff;
