.contents {
  background-color: $contents-bg;
  border-top: 5px solid $contents-border;
  padding:  {
    left: 40px;
    right: 40px;
  }
  .contents__title,
  .content__row {
    @include box-sizing();
    @include content-box-shadow();
    background-color: $content-bg;
    margin-bottom: 15px;
  }
  .contents__title {
    position: relative;
    font-size: 17px;
    line-height: 45px;
    padding-left: 20px;
    img {
      vertical-align: middle;
    }
    strong {
      margin-left: 7px;
    }
    .sub-title {
      @include box-sizing();
      @include ellipsis();
      height: 45px;
      padding-left: 185px;
      padding-right: 25px;
      width:100%;
      position: absolute;
      left:0;
      top:0;
      color: $contentSubTitle-font;
      font-size: 16px;
      &:before {
        background: url(#{$imgPath}/icon_arrow_39cf6c_12x11.png) 0 0 no-repeat;
        content: '';
        display: inline-block;
        height: 11px;
        margin-left: 8px;
        margin-right: 6px;
        width: 12px;
      };
    }
  }
  .content__row {
    @include clearfix();
    &[data-layout]{
      @include box-shadow(none);
      background-color: transparent;
      > div {
        @include content-box-shadow();
        width: 49.5%;
        background-color: $content-bg;
        position: relative;
        height:220px;
        &:nth-child(1) {
          float: left;
        }
        &:nth-child(2) {
          float: right;
        }
        .content{
          @include transform(translate(-50%,0));
          width:430px;
          position: absolute;
          left:50%;
        }
      }
    }
  }
  .row__title {
    background: $contentRowTitle-bg;
    color: $contentRow-color;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    padding-left: 20px;
  }
  .content {
    padding: 30px 35px;
  }
  .campaign__title {
    background: $campaignTitle-bg;
    color: $campaignTitle-font;
    font-size: 16px;
    line-height: 35px;
    padding-left: 10px;
    &[data-slide='true'] {
      background:{
        image: url(#{$imgPath}/bg_select--fold_ffffff_9x6.png);
        position: right 20px top 50%;
        repeat: no-repeat;
      }
      border-bottom: 3px solid $campaignSlide-border;
      cursor: pointer;
      &._fold{
        background-image: url(#{$imgPath}/bg_select_ffffff_9x6.png);
        &+div{
          display: none;
        }
      }
    }
  }
  .content__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
  }
  .filter__setting {
    .btn-ok {
      @include button-style(70, 20, 12);
    }
    .setting__btn {
      border-top: 1px solid $filter-border;
      padding-top: 15px;
      text-align: center;
    }
    .content {
      padding-bottom: 15px;
    }
  }
  .filter__table {
    th,
    td {
      padding-bottom: 20px;
    }
    th {
      font-size: 16px;
      font-weight: 700;
      line-height: 25px;
      text-align: left;
      vertical-align: top;
      width: 120px;
    }
    td{
      text-align: left;
    }
    .period__tr {
      select {
        width: 115px;
      }
      .start-date {
        margin-right: 3px;
      }
      .end-date {
        margin-left: 3px;
        margin-right: 7px;
      }
    }
    .year-month__tr{
      .year{
        width:80px;
        &+.select2{
          margin-right: 5px;
        }
      }
      .month{
        width:60px;
      }
    }
    .campaign-status__tr,
    .industry__tr,
    .approval-status__tr,
    .campaign-type__tr {
      select {
        width: 130px;
      }
      button {
        margin-left: 5px;
      }
    }
    .filter__tr,
    .view-by__tr {
      td{
        @include custom-input(true);
        label {
          width: 105px;
          font-size: 13px;
        }
      }
    }
  }
  .contents-btn-wrap {
    margin:  {
      bottom: 30px;
      top: 15px;
    }
    text-align: center;
    button {
      &[data-type='fail'] {
        @include button-style(145,30,15,$base-color);
      }
      &[data-type='success'] {
        @include button-style(145,30,15,$brand-color);
      }
      &:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
}