.header {
  background-color: $header-bg;
  height: 50px;
  position: relative;
  &:before{
    content:"";
  }
  .logo {
    padding:  {
      left: 30px;
      top: 15px;
    }
  }
  .util {
    font-size: 0;
    position: absolute;
    right: 40px;
    top: 18px;
    li {
      display: inline-block;
      font-size: 11px;
      margin:  {
        left: 8px;
        right: 8px;
      }
      position: relative;
      a {
        color: $headerUtil-font;
      }
      &:before {
        background-color: $headerUtilBar-bg;
        content: '';
        display: block;
        height: 12px;
        left: -8px;
        position: absolute;
        top: 0;
        width: 1px;
      }
      &.admin {
        &:before {
          display: none;
        }
      }
      &.logout {
        margin-right: 0;
      }
    }
  }
}
