@charset 'UTF-8';
@import '_header';
@import '_nav';
@import '_content';
@import '_table';
@import '_footer';
@import '_popup';
.wrap {
    min-width: 1280px;
}
.container {
    table-layout: fixed;
    display: table;
    margin-top: -55px;
    padding-top: 55px;
    width: 100%;
    .nav,
    .contents {
        display: table-cell;
        padding-top: 30px;
    }
    .nav {
        width: 190px;
    }
}
