.nav{
	background: $nav-bg;
	.profile {
		font-size: 11px;
		margin-bottom: 60px;
		padding-left: 30px;
		.information {
			position: relative;
		}
		.user-image {
			padding-bottom: 10px;
			img {
				@include border-radius(50%);
			}
		}
		.user-id {
			background-image: url(#{$imgPath}/icon_account_39cf6c_8x13.png);
			background-repeat: no-repeat;
			padding:  {
				bottom: 15px;
				left: 15px;
				top: 2px;
			}
			span{
				@include ellipsis();
				color: $navProfile-font;
				font-size: 11px;
				display: inline-block;
				vertical-align: bottom;
				width:110px;
			}
		}
		.information-ok {
			@include button-style(40, 17, 11);
			bottom: 14px;
			position: absolute;
			right: 35px;
		}
		.account-select {
			select {
				width: 125px;
			}
			.agency__select,
			.sub-agency__select{
				margin-bottom: 12px;
			}
		}
	}
	.gnb {
		a {
			text-decoration: none;
		}
		> li {
			line-height: 50px;
			> a {
				@include box-sizing();
				background: {
					position: 30px 50%;
					repeat: no-repeat;
				};
				color: $navGnb-font;
				display: block;
				font-size: 14px;
				font-weight: 700;
				height: 50px;
				opacity: 0.3;
				padding-left: 60px;
				width: 100%;
				&:hover,
				&._active {
					background-color: $navGnbHover-font;
					color: #fff;
					opacity: 1;
				}
			}
			ul {
				display: none;
				li {
					border-top: 1px solid $navGnbDepth-border;
					&:first-child {
						border-top: 0 none;
					}
				}
				a {
					@include box-sizing();
					background-color: $navGnbDepth-bg;
					color: $navGnbDepth-font;
					display: inline-block;
					font-weight: 700;
					height: 100%;
					padding-left: 60px;
					text-align: left;
					width: 100%;
					&:hover,
					&._active {
						background-color: $navGnbDepthHover-bg;
						color: $navGbnDegthHover-font;
					}
				}
			}
		}
		.dashboard {
			> a {
				background-image: url(#{$imgPath}/gnb_dashboard_ffffff_20x17.png);
			}
		}
		.campaign {
			> a {
				background-image: url(#{$imgPath}/gnb_campaign_ffffff_19x15.png);
			}
		}
		.report {
			> a {
				background-image: url(#{$imgPath}/gnb_report_ffffff_19x15.png);
			}
		}
		.creative {
			> a {
				background-image: url(#{$imgPath}/gnb_creative_ffffff_19x15.png);
			}
		}
		.manage {
			> a {
				background-image: url(#{$imgPath}/gnb_manage_ffffff_18x17.png);
			}
		}
		.account {
			> a {
				background-image: url(#{$imgPath}/gnb_account_ffffff_19x13.png);
			}
		}
		.payment {
			> a {
				background-image: url(#{$imgPath}/gnb_payment_ffffff_19x14.png);
			}
		}
	}
}
