.popup {
  background-color: #fff;
  border: 1px solid #cbcbcb;
  box-sizing: border-box;
  padding: 20px 20px 30px 20px;
  position: relative;
  z-index: 100;
  a{
    color:$font-link-point;
    text-decoration: underline;
    &[download]{
      color:$font-download;
      text-decoration: none;
    }
  }
  .popup__header {
    background-color: $popupHeader-bg;
    height: 45px;
    .title {
      color: #fff;
      font-size: 17px;
      line-height: 45px;
      padding: 0 20px;
    }
  }
  [data-layout='double'] {
    @include clearfix();
    & > div {
      width: 440px;
      &:first-child {
        float: left;
        & + div {
          float: right;
        }
      }
    }
    .comment{
      .content {
        padding-top: 15px;
        .leave-comment {
          float: left;
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
        }
      }
      .btn-ok {
        @include button-style(60,20,11,$btn-default);

        float: right;
      }
      textarea {
        clear: both;
        height: 55px;
        margin-top: 5px;
      }
    }
  }
  .popup__container {
    padding: 35px 30px;
    .title {
      background-color: $popupContainerTitle-bg;
      border-bottom: 3px solid $popupContainerTitle-border;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      padding-left: 10px;
      width: 100%;
    }
  }
  /* set commission */
  .set-commission__table{
    table {
      th {
        padding-left: 10px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        vertical-align: top;
        width: 135px;
      }
      td {
        @include custom-input();
        font-size: 13px;
        input[type='text'] {
          width: 90px;
        }
        .limit-text {
          margin-left: 15px;
        }
      }
    }
  }
  .popup__footer {
    border-top: 2px solid $popupFooter-border;
    padding-top: 30px;
    text-align: center;
    font-size: 0;
    button {
      &[data-type='fail'] {
        @include button-style(100,25,15,$btn-fail);
      }
      &[data-type='success'] {
        @include button-style(100,25,15,$btn-success);
      }
      margin: 0 5px;
    }
  }
  .btn-popup-close {
    background-image: url(#{$imgPath}/btn_popup-close_ffffff_13x13.png);
    background-repeat: no-repeat;
    display: block;
    height: 13px;
    overflow: hidden;
    position: absolute;
    right: 38px;
    text-indent: -9999px;
    top: 37px;
    width: 13px;
  }
  /* error message popup */
  &.popup-error{
    width:600px;
    .popup__header{
      background-color: $errorPopupHeader-bg;
    }
    .popup__container{
      padding: 45px 30px;
      font-size: 15px;
      p{
        margin-bottom: 20px;
      }
      ul{
        li{
          line-height: 22px;
          list-style:none;
          &:before{
            content:'\2022';
            color:$error-disc;
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
.popup-dim {
  background-color: $dim;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
