table{
  td{
    text-align: center;
  }
  .approval-status,
  .id,
  .manager-name,
  .budget-status,
  td.industry,
  .advertiser,
  .approval-status,
  .campaign-type,
  .date,
  .agency,
  .type,
  .sub-agency,
  .creative {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }
  .credit-status {
    padding-left: 20px;
    padding-right: 20px;
  }
  .campaign,
  .sub-agency,
  .agency,
  td.industry,
  .advertiser,
  .by,
  .campaign-name,
  .manager-name{
    span{
      display: inline-block;
      max-width:100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 13px;
      vertical-align: middle;
    }
  }
  .creative {
    .library {
      background-color: #d5d5d5;
      display: inline-block;
      height: 28px;
      margin-right: 10px;
      position: relative;
      vertical-align: middle;
      width: 28px;
      img {
        @include center();

        max-height: 100%;
        max-width: 100%;
      }
    }
  }
  .name,
  .campaign-name {
    @extend %status-icon;
    padding-left: 20px;
    text-align: left;
  }
  .campaign-name{
    .name{
      padding-left: 0;
      &:before{
        display: none;
      }
    }
  }
  .status {
    @include custom-toggle();
  }
  .creative,
  .approval-status {
    @extend %status-icon;
  }
  .budget-status,
  .credit-status {
    @include progress();
    td {
      font-size: 0;
    }
  }
  .update {
    position: relative;
    &._active {
      &:after {
        background-image: url(#{$imgPath}/icon_update_39cf6c_16x16.png);
        content: '';
        display: inline-block;
        height: 16px;
        position: absolute;
        right: -23px;
        top: -2px;
        vertical-align: middle;
        width: 16px;
      }
    }
  }
  .btn-edit,
  .btn-view {
    @include button-style(50,20,12,$base-color);
  }
  .btn-delete {
    @include button-style(60,20,12,$base-color);
  }
  .btn-manage {
    @include button-style(80,22,12,$base-color);
    &[disabled]{
      background: #eee;
    }
  }
}
.popup{
  table{
    td{
      text-align: left;
    }
  }
}