.band-profile{
  position: relative;
  width: 33px;
  .band-img {
    @include border-radius(50%);
    background-color: #d6d6d6;
    border: 1px solid #c7c7c7;
    display: block;
    float: left;
    height: 30px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    width: 30px;
    &._selected{
      cursor: pointer;
    }
    img {
      @include center();
      max-height: 100%;
      max-width: 100%;
    }
  }
  .band-button {
    position: absolute;
    right: -2px;
    top: 0;
    z-index: 1;
    button {
      @include screen-out();
      background-repeat: no-repeat;
      height: 14px;
      width: 14px;
    }
    .btn-add {
      background-image: url(#{$imgPath}/btn_add_313131_13x13.png);
    }
    .btn-close {
      background-image: url(#{$imgPath}/btn_delete_313131_13x13.png);
    }
  }
  &+p{
    @include ellipsis();
    margin-top: 7px;
  }
}
.band-name{
  position: relative;
  display: inline-block;
  padding-top: 4px;
  .max-length{
    font-size: 11px;
    color:$border-input;
    position: absolute;
    bottom:2px;
    right:5px;
    &._over{
      color:$warning-color;
    }
  }
  input[type="text"]{
    padding-right: 20px;
    width: 100%;
  }
}