/* popup 내에서 수정 버튼 클릭 시 */

.correct__wrap {
  .title {
    .btn-modify {
      @include screen-out();
      background-image: url(#{$imgPath}/btn_modify_343434_10x10.png);
      width: 10px;
      height: 10px;
      vertical-align: middle;
    }
  }
  .modify-show{
    display: block;
  }
  .modify-hide{
    display: none;
  }
  .active-button__wrap { //_correct 시 inline-block
    display: none;
  }
  ._correct { // 수정 가능 상태 일 시
    p.title {
      background-color: $bg-correctTitle;
      color: #fff;
    }
    .modify-hide{
      display: block;
    }
    .modify-show{
      display: none;
    }
    .btn-modify {
      display: none;
    }
    .active-button__wrap {
      display: inline-block;
      float: right;
      .btn-ok,
      .btn-cancel {
        @include button-style(60, 20, 12, $btn-success);
      }
      .btn-cancel {
        margin-left: 3px;
        margin-right: 10px;
        background-color: $btn-correct-cancel;
        color: $font-default;
      }
    }
  }
  ._uncorrectable  { // 수정 불가능 비활성화 상태일 시
    .btn-modify {
      display: inline-block;
    }

    .title {
      .btn-modify {
        display: none;
      }
    }
    a[download] {
      color: $disabled-color;
      &:before {
        cursor: default;
        background-image: url(#{$imgPath}/icon_download--e0e0e0_39cf6c_11x11.png);
      }
    }
    button{
      background-color: $disabled-color !important;
      cursor: default !important;;
    }
    .btn-delete,
    .btn-modify{
      background-color: transparent !important;
      cursor: default !important;;
    }
  }
}