.create-new-content{
  font-size: 0;
  padding: 20px 0;
  .create-new-title {
    font-size: 14px;
    line-height: 25px;
    float: left;
  }
  .create-new-list {
    font-size: 0;
    min-height: 110px;
    vertical-align: top;
    margin-left: 141px;
    margin-top: -10px;
    > li {
      @include box-sizing();
      width: 140px;
      height: 100px;
      margin-left: 10px;
      margin-top: 10px;
      font-size: 12px;
      display: inline-block;
      vertical-align: top;
      position: relative;
    }
    .button__wrap {
      font-size: 0;
      position: absolute;
      right: 5px;
      top: 5px;
      button {
        @include screen-out();

        height: 14px;
        width: 14px;
      }
      .btn-modify {
        background-image: url(#{$imgPath}/btn_modify_ababab_10x10.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
      .btn-close {
        background-image: url(#{$imgPath}/btn_delete_ababab_14x14.png);
      }
    }
    .item {
      border: 1px solid #bcbcbc;
      ul {
        margin-top: 35px;
        li {
          border-top: 1px solid #dadada;
          line-height: 20px;
          padding-left: 10px;
          padding-right: 10px;
          p{
            @include ellipsis();

          }
        }
      }

      .image {
        background-color: #ebebeb;
        height: 72px;
        margin-left: 2px;
        margin-top: 23px;
        position: relative;
        width: 134px;
        img {
          @include center();
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
    .add {
      background: url(#{$imgPath}/btn_add_ababab_16x16.png) 50% 50% no-repeat;
      border: 3px solid #e4e4e4;
      cursor: pointer;
      &._error{
        border: 3px solid $warning-color;
      }
    }
  }
}
