/* 파일 업로드 및 다운로드 관련 */

input[type="file"]{
  display: none;
}
a{
  &[download]{
    color:$font-download;
    font-weight: 700;
    font-size: 12px;
    &:before{
      content:"";
      display: inline-block;
      width:11px;
      height: 20px;
      line-height: 20px;
      margin-right: 10px;
      background: url(#{$imgPath}/icon_download_39cf6c_11x11.png) top 5px center no-repeat;
    }
  }
}
button {
  &[data-type="download"],
  &[data-type="upload"]{
    @include button-style(100,20,12,$btn-default);
    &:before{
      content:"";
      background:{
        image:url(#{$imgPath}/icon_load_ffffff_9x7.png);
        repeat:no-repeat;
      }
      width:9px;
      height: 9px;
      display: inline-block;
      vertical-align: middle;
      margin-right:5px;

    }
  }
}
.file__list{
  li{
    position: relative;
    padding-left: 17px;
    a[download]{
      @include ellipsis();
      @include box-sizing();
      max-width:100%;
      display: inline-block;
      height: 20px;
      line-height: 20px;
      vertical-align: middle;
      padding-right: 15px;
      &:before{
        position: absolute;
        top:0;
        left:0;
      }
    }
  }
  .btn-delete {
    @include screen-out();
    background:{
      color: #ffffff;
      image:url(#{$imgPath}/btn_delete_ababab_14x14.png);
    }
    vertical-align: middle;
    height: 14px;
    margin-left: 4px;
    width: 14px;
  }
}
