.history {
  .content {
    margin-bottom: 20px;
  }
  .history-wrap {
    .history-empty{
      text-align: center;
    }
    overflow-y: auto;
    border:1px solid #dadada;
  }
  ul{
    padding-top: 3px;
  }
  li {
    line-height: 18px;
    margin-right: 15px;
    min-height: 20px;
    position: relative;
    padding:  {
      bottom: 5px;
      left: 10px;
      top: 5px;
    }
    &:first-child {
      border-top: 0 none;
    }
    .date,
    .text {
      display: inline-block;
      vertical-align: top;
    }
    .date {
      font-weight: 700;
      position: absolute;
      width: 130px;
    }
    .text {
      padding-left: 130px;
      span {
        display: block;
      }
    }
  }
}