.creative-library__scroll{
  @include box-sizing();
  border: 1px solid #c6c6c6;
  overflow-y: auto;
  overflow-x: hidden;
  &._error{
    border:1px solid $warning-color;
  }
 .image-select__list{
   @include clearfix();
   &[data-image='check'] {
     ._active:after,
     .select-image {
       height: 100%;
     }
   }
   &[data-image='check'],
   &[data-image='check-size'] {
     li {
       &._active:after,
       &:before {
         background : {
           position: left 5px top 5px;
           repeat : no-repeat;
         }
       }
       &:before {
         background-image: url(#{$imgPath}/bg_checkbox_bcbcbc_11x11.png);
         z-index: 5;
       }
       &._active {
         &:after {
           background-image: url(#{$imgPath}/icon_check_313131_13x10.png);
           content: '';
           display: block;
           left: 0;
           position: absolute;
           top: 0;
           width: 100%;
           z-index: 10;
         }
       }
     }
   }
   &[data-image='check-size'],
   &[data-image='size'] {
     ._active:before,
     ._active:after,
     .select-image {
       height: 42px;
     }
     p {
       background: #ffffff;
       border-top: 1px solid #dfdfdf;
       color: rgba(64,64,64,0.6);
       font-size: 10px;
       line-height: 15px;
       text-align: center;
     }
   }
   li {
     @include box-sizing();
     background: #eee;
     border: 1px solid #dfdfdf;
     cursor: pointer;
     float: left;
     height: 60px;
     margin-left: 10px;
     margin-top: 10px;
     position: relative;
     width: 60px;
     &:before {
       content: '';
       height: 100%;
       left: 0;
       position: absolute;
       top: 0;
       width: 100%;
     }
     &._active {
       &:before {
         background-color: rgba(0, 0, 0, 0.3);
         z-index: 5;
       }
     }
     .select-image {
       position: relative;
       width: 100%;
     }
     img {
       @include center();

       max-height: 100%;
       max-width: 100%;
     }
     input {
       border: 0;
       clip: rect(0 0 0 0);
       height: 1px;
       margin: -1px;
       overflow: hidden;
       padding: 0;
       position: absolute;
       width: 1px;
     }
   }
 }
}
