//이미지 영역 선택 부분

.image-wrap{
  border: 1px solid #c6c6c6;
  box-sizing: border-box;
  height: 234px;
  overflow: hidden;
  position: relative;
  &[data-area="single"]{
    width:100%;
  }
  &[data-area="multi"]{
    width:227px;
  }
  img {
    @include center();
    max-height: 100%;
    max-width: 100%;
  }
  .image-area-select {
    width:100%;
    height: 100%;
    font-size: 0;
    left: 1px;
    position: absolute;
    top: 1px;
    span {
      @include box-sizing();
      cursor: pointer;
      display: inline-block;
      height: 20%;
      border-left:1px solid rgba(255,255,255, 0.3);
      border-bottom: 1px solid rgba(255,255,255, 0.3);
      vertical-align: top;
      width: 20%;
      &:hover,
      &._active {
        background: rgba(49,49,49,0.7);
      }
    }
  }
}