.industry__tr{
  .industry{
    width:100%;
    position: relative;
    .selection{
      @include box-sizing();
      background:{
        image: url(#{$imgPath}/bg_select_323232_9x6.png);
        repeat: no-repeat;
        position: right 7px top 10px;
      }
      width:100%;
      line-height: 25px;
      padding-left: 10px;
      border:1px solid #c6c6c6;
      cursor:pointer;
    }
    .industry__list{
      @include box-sizing();
      display: none;
      width:100%;
      border:1px solid #c6c6c6;
      position: absolute;
      top:25px;
      left:0;
      background-color: #ffffff;
      max-height: 234px;
      overflow-y: auto;
      z-index:10;
      &>li{
        position: relative;
        &._open{
          .depth{
            display: block;
          }
        }
        &:first-child{
          >span{
            border-top: 0;
          }
        }
        &>span{
          padding-left: 10px;
        }
        .btn-open{
          @include screen-out();
          position: absolute;
          top:6px;
          right: 6px;
          width:15px;
          height: 15px;
          background-image: url(#{$imgPath}/icon_slide--down_c1c1c1_15x15.png);
          vertical-align: middle;
        }
        .depth{
          display: none;
          span{
            padding-left: 20px;
            background: #f0f0f0;
          }
        }
        span{
          @include box-sizing();
          @include ellipsis();
          border-top:1px solid #cecece;
          display: block;
          width:100%;
          cursor: pointer;
          padding-right: 25px;
          line-height: 25px;
          &:hover,
          &:focus{
            background: $bg-selectHover;
          }
          &._selected{
            &:before{
              background-image: url(#{$imgPath}/bg_selected_39cf6c_10x7.png);
              content:"";
              width:10px;
              height: 7px;
              margin-right: 5px;
              display: inline-block;
            }
          }
        }
      }

    }
    &._open{
      .selection{
        background-image: url(#{$imgPath}/bg_select--fold_323232_9x6.png);
      }
      .industry__list{
        display: block;
      }
    }
  }
}