[data-list="gray-line"],
[data-list="white-multi"],
[data-list="gray-multi"]{
  li{
    position: relative;
    padding-left: 20px;
    margin-top:5px;
    &:first-child{
      margin-top:0;
    }
    &:before{
      position: absolute;
      left:10px;
      content:'\2022';
      font-size: 15px;
      vertical-align: middle;
      display: inline-block;
    }
  }
}
[data-list="gray-line"],
[data-list="gray-multi"]{
  li{
    background-color: #e9e9e9;
    &:before{
      top:5px;
    }
  }

}
[data-list="gray-line"] {
  li{
    font-size: 12px;
    height: 25px;
    span {
      @include ellipsis();
      height: 25px;
      display: inline-block;
      line-height: 25px;
      width: 98%;
      a {
        color: #404040;
      }
    }
    .btn-close {
      background: transparent url(#{$imgPath}/btn_close_404040_8x8.png) 0 0 no-repeat;
      height: 8px;
      width: 8px;
      position: absolute;
      right: 7px;
      top: 8px;
      text-indent: -9999em;
    }
  }
}
[data-list="white-multi"]{
    li{
      &:before{
        top:0;
      }
      a{
        color:#4052ff;
      }
    }
}
[data-list="gray-multi"]{
    li{
      padding:{
        right:5px;
        bottom:5px;
        top:5px;
      }
      height: auto;
      .btn-edit{
        text-indent: -9999em;
        width:8px;
        height: 8px;
        background:{
          color: transparent;
          image: url(#{$imgPath}/btn_modify_343434_8x8.png);
        } ;
        position: absolute;
        right: 17px;
        top: 9px;
      }
      .btn-delete{
        text-indent: -9999em;
        height: 8px;
        width: 8px;
        background : {
          color: transparent;
          image: url(#{$imgPath}/btn_close_404040_8x8.png);
        }
        position: absolute;
        right: 7px;
        top : 9px;
      }
      p{
        height: 16px;
        line-height: 16px;
      }
      a{
        @include ellipsis();
        height: 22px;
        max-width:100%;
        display: inline-block;
        color:#303030;
      }
    }
}