/* loading bar */

.loading{
  position: absolute;
  &:before {
    content: url(#{$imgPath}/loading_3acf6d_145x50.png);
    position: absolute;
    overflow: hidden;
    max-width: 160px;
    animation: loading 3s linear infinite;
  }
  @keyframes loading {
    0% {
      max-width: 0;
    }
  }
}