.preview-phone{
  background: url(#{$imgPath}/bg_iphone_ffffff_288x613.png) 0 0 no-repeat;
  height:613px;
  width:288px;
  margin-top:40px;
  padding-top:70px;
  position: absolute;
  left:50%;
  transform: translate(-50%,0);
  .preview-screen{
    background: #e2e2e4;
    width:265px;
    height:420px;
    border-radius: 5px;
    overflow: hidden;
    margin-left:13px;
    position: relative;
    padding-top:59px;
    .screen__top{
      /* position: absolute; */
      /* top: 0; */
      margin-top: -60px;
      padding-bottom: 5px;
      background: url(#{$imgPath}/template_feed--top_ffffff_265x54.png) 0 0 no-repeat;
      height:54px;
      width:100%;
      z-index:105;
    }
    .screen__content{
      overflow: hidden;
      cursor: pointer;
      padding:0 6px;
      position: relative;
      height:380px;
      .feed{
        @include box-sizing();
        background-color:#fff;
        border: 1px solid #c6c6c8;
        border-top-color: #d1d1d3;
        border-bottom-color: #b2b2b4;
        border-radius: 3px;
        box-shadow: 0 1px 0 #d6d6d8;
        margin-top:5px;
        width:253px;
        &:first-child{
          margin-top:0;
        }
        .recommend{
          @include ellipsis();
          color:#2b2b31;
          font-weight:700;
          border-bottom:1px solid #ededed;
          line-height:28px;
          padding:0 10px;
          font-size:12px;
          letter-spacing:-0.05em;
        }
        .profile{
          padding:10px;
          padding-bottom:5px;
          height:33px;
          .band-profile{
            .band-img{
              margin-right:5px;

            }
          }
          .band-text{
            margin-top: 3px;
            p{
              @include ellipsis();
            }
            .band-name{
              font-size:12px;
              color:#2b2b31;
              padding-top:2px;
            }
            .band-type{
              font-size:11px;
              color:#c6c6c6;
              padding-top:2px;
            }
          }
        }
        .feed-text{
          padding: 0 10px 10px;
          line-height:15px;
          word-break: break-all;
          color:#646468;
          font-size:11px;
        }
        .campaign__article{
          margin-bottom:0;
          .campaign-image{
            //최소 높이는 이미지 가이드 나온 뒤 재수정
            min-height: 100px;
            img{
              max-width:100%;
            }
          }
          button{
            padding:5px;
            color: #ffffff;
            border-radius: 2px;
            font-weight:700;
            background-color: $btn-default-point;
            letter-spacing:-0.03em;
            position: absolute;
            top:50%;
            right:10px;
            font-size:10px;
            transform: translate(0,-50%);
          }
          .campaign-info{
            @include clearfix();
            position: relative;
            .campaign-text{
              padding:10px;
              line-height:15px;
              color:#7f7f7f;
              p{
                max-width:150px;
              }
              .feed-title{
                font-size:12px;
                padding-bottom:3px;
                letter-spacing:-0.03em;
                color:#2b2b31;
              }
              .feed-sub{
                color:#999999;
                font-size:10px;
              }
            }
          }
        }
        &[data-type="image"]{

        }
        &[data-type="text"]{
          .feed-text{
            border-bottom:1px solid #d9d9d9;
          }
          .campaign-image{
            display: none;
          }
        }
        &[data-type="video"]{
          .campaign__article{
            .campaign-image{
              position: relative;
              &:after{
                content:"";
                @include center();
                width:70px;
                height:70px;
                background: url(#{$imgPath}/bg_play_ffffff_70x70.png) 0 0 no-repeat;
              }
            }
          }
        }
        &[data-title="main"]{
          .campaign-text{
            @include box-sizing();
            height:53px;
            position: relative;
            .feed-title{
              position: absolute;
              top:50%;
              transform:translate(0,-50%);
            }
          }
          .feed-sub{
            display: none;
          }
        }
        &[data-title="mainsub"]{
          .campaign-text{
            p{
              @include ellipsis();
              max-width:150px;
            }
          }
        }
      }
      .feed-dummy{
        @include box-sizing();
        margin-top:5px;
        border: 1px solid #c6c6c8;
        border-top-color: #d1d1d3;
        border-bottom-color: #b2b2b4;
        border-radius: 3px;
        box-shadow: 0 1px 0 #d6d6d8;
        img{
          max-width: 100%;
        }
      }
      &._load{
        &:after{
          background-color: rgba(0,0,0,0.5);
        }
      }
      &:after{
        content:"";
        width:100%;
        height:100%;
        position: absolute;
        top:-5px;
        left:0;
        padding: 7px 0;
      }
    }
    .screen__bottom{
      position: absolute;
      bottom:0;
      background: url(#{$imgPath}/template_feed--bottom_ffffff_265x41.png) 0 0 no-repeat;
      height:41px;
      width:100%;
    }
  }
  .preview-info{
    padding-top:25px;
    font-size:11px !important;
    color:#adadad;
    text-align: center;
    strong{
      color:#474747;
    }
  }
}

//creative 선택 시 오른쪽에 프리뷰가 보일 경우

.preview{
  padding-left: 20px;
  width: 288px;
  display: table-cell;
  .empty {
    @include center();
    text-align: center;
    p {
      color: rgba(64,64,64,0.4);
      line-height: 17px;
      width: 115px;
    }
  }
  .preview-content{
    @include box-sizing();
    position: absolute;
    width:288px;
    height: 100%;
    top:20px;
    right:20px;
    padding-top: 105px;
    margin-top:-41px;
    &:after {
      background-color: #f2f2f2;
      border-top: 1px solid #d3d3d3;
      bottom: 0;
      content: '';
      display: block;
      height: 5px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
  .preview-page{
    @include box-sizing();
    //    padding:10px 0;
    //overflow-y: auto;
    height: 100%;

  }
}



