/* 스케줄 선택 화면 */

.time-wrap {
  margin-top: 10px;
  margin-left:95px;
  position: relative;
  width:322px;
  .time-wrap-heading {
    *zoom: 1;
    color: #404040;
    margin-bottom: 6px;
    &:before {
      content: '';
      display: table;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    .text-title {
      float: left;
      color: $brand-color;
      font-weight: 600;
    }
    .text-desc {
      font-size: 12px;
      float: right;
      position: relative;
      padding-left: 15px;
      margin-right: 10px;
    }
    .text-desc::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color:$brand-color;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -5px;
    }
  }
  .desc {
    font-size: 11px;
    margin-top: 5px;
    margin-left: 30px;
  }
  .text-hours {
    margin-left: 25px;
    span {
      width: 33px;
      display: inline-block;
      font-size: 10px;
      letter-spacing: 0;
    }
    .allday {
      margin-left: 5px;
    }
  }
  .label {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    i {
      line-height: 15px;
      font-size: 10px;
      font-style: normal;
    }
  }
  .day {
    font-size: 0;

    &.first {

      .all-select-time {
        border-top: 1px solid #cfcfcf;
      }
      .times .hour {
        border-top: 1px solid #cfcfcf;

      }
    }
  }
  .times {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    line-height: 1;
  }
  .hour {
    width: 11px;
    height: 15px;
    background-color: #f5f5f5;
    cursor: pointer;
    display: inline-block;
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #e8e8e8;
    &.first {
      border-left: 1px solid #bdbfc4;
    }
    &.ui-selected {
      background-color: $brand-color;
      border-right: 1px solid $brand-color;
    }
    &.nth-child-3 {
      border-right: 1px solid #cfcfcf;
      &.ui-selected {
        border-right: 1px solid $brand-color;
      }
    }
  }
  .time-zone{
    &._error{
      .time23{
        border-right:1px solid $warning-color;
      }
      .hour.first{
        border-left:1px solid $warning-color;
      }

      .day{
        &.first{
          .times .hour{
            border-top:1px solid $warning-color;
          }
        }

        &:nth-child(7){
          .hour{
            border-bottom:1px solid $warning-color;
          }
        };
      }
    }
  }
}
.time-wrap[data-lang="ko"] {
  .label {
    width: 40px;
    i {
      font-size: 14px;
    }
  }
  .text-hours {
    margin-left: 40px;
    margin-top: 5px;
    span {
      font-size: 14px;
    }
  }
  .desc {
    font-size: 15px;
    margin-left: 40px;
    margin-top: 10px;
  }
}
.time-wrap[data-lang="ko"][data-size="8"] {
  .text-hours {
    margin-left: 37px;
    span {
      font-size: 11px;
      width: 24px;
    }
  }
  .label {
    width: 38px;
    i {
      font-size: 11px;
    }
  }
  .desc {
    font-size: 11px;
  }
}
.time-wrap[data-size="8"] {
  .hour {
    width: 8px;
    height: 13px;
  }
  .desc {
    letter-spacing: -0.5px;
  }
  .label i {
    line-height: 12px;
  }
  .text-hours span {
    width: 23px;
  }
}
