<div class="header">
    <h1 class="logo">
        <a href="#">
            <img src="https://s3-ap-northeast-1.amazonaws.com/cdn.adwitt.com/images/logo_band_313131_72x25.png" alt="Band logo">
        </a>
    </h1>
    <ul class="util">
        <li class="admin"><a href="#">Admin Home</a></li>
        <li class="logout"><a href="#">Logout</a></li>
    </ul>
</div>