@charset 'UTF-8';
// Init
html,
body,
.wrap,
.container{
    height: 100%;
}
body {
    font-size: 12px;
    background: $contents-bg url(#{$imgPath}/bg_menu_313131_190x1.png) 0 0 repeat-y;
}
body,
button,
input,
pre,
textarea {
    font-family: 'Roboto Condensed','Nanum Barun Gothic', '맑은 고딕', sans-serif;
    color:$base-color;
}
ul,
ol,
li {
    list-style: none;
}
caption{
    display: none;
}
input[type='text'],
input[type='search'],
input[type='password'],
input[type='number'] {
    @include box-sizing();
    background-color: #fff;
    border: 1px solid $border-input;
    line-height: 23px;
    height: 25px;
    padding: 0 8px;
    &[data-type='search']{
        background: {
            image: url(#{$imgPath}/bg_search_ababab_15x14.png);
            position : right 5px top 50%;
            repeat: no-repeat;
        };
        padding-right: 25px;
    }
    &[data-type='date'] {
        width:200px;
        background:  {
            image: url(#{$imgPath}/icon_calendar_323232_13x13.png);
            position: right 5px top 50%;
            repeat: no-repeat;
        }
        padding-right: 22px;
    }
    &[data-type='time'] {
        text-align: center;
        padding: 0;
        width: 25px;

    }
    &:focus {
        border: 1px solid $border-focus !important;
        outline:0 none;
    }
}
input[type="text"]{
    font-size: 13px;
}
button {
    cursor: pointer;
    padding: 0;
    border: 0 none;
    background-color: transparent;
}
textarea{
    @include box-sizing();
    resize: none;
    width:100%;
    padding: 5px;
    border: 1px solid $border-input;
    overflow-y: auto;
    overflow-x: hidden;
    &:focus {
        border: 1px solid $border-focus;
        outline:0 none;
    }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
button:focus {
    outline: 0 none !important;
}
a{
    text-decoration: none;
}
._hide{
    display: none !important;
}
._show{
    display: inline-block !important;
}
.fa:before{
    font-size: 12px;
}